body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2155px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u4312 {
  position:absolute;
  left:1552px;
  top:444px;
  width:154px;
  height:53px;
}
#u4313 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:969px;
}
#u4315 {
  position:absolute;
  left:1508px;
  top:0px;
  width:1px;
  height:968px;
}
#u4316 {
  position:absolute;
  left:2px;
  top:476px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:973px;
}
#u4317 {
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:968px;
}
#u4318 {
  position:absolute;
  left:2px;
  top:476px;
  width:1504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4319 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:756px;
}
#u4320 {
  position:absolute;
  left:2px;
  top:370px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4321 {
  position:absolute;
  left:1117px;
  top:197px;
  width:391px;
  height:709px;
}
#u4322 {
  position:absolute;
  left:2px;
  top:346px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:614px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
}
#u4323 {
  position:absolute;
  left:1133px;
  top:234px;
  width:360px;
  height:614px;
}
#u4324 {
  position:absolute;
  left:2px;
  top:299px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:39px;
}
#u4325 {
  position:absolute;
  left:1376px;
  top:345px;
  width:112px;
  height:39px;
}
#u4326 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:48px;
  background:inherit;
  background-color:rgba(240, 243, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4327 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:48px;
}
#u4328 {
  position:absolute;
  left:2px;
  top:16px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u4329 {
  position:absolute;
  left:1289px;
  top:162px;
  width:49px;
  height:22px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u4330 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u4331 {
  position:absolute;
  left:1139px;
  top:166px;
  width:9px;
  height:15px;
}
#u4332 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u4334 {
  position:absolute;
  left:1159px;
  top:290px;
  width:334px;
  height:1px;
}
#u4335 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4336 {
  position:absolute;
  left:1160px;
  top:256px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4337 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u4338 {
  position:absolute;
  left:1405px;
  top:256px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u4339 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4338_ann {
  position:absolute;
  left:1447px;
  top:252px;
  width:1px;
  height:1px;
}
#u4340 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u4341 {
  position:absolute;
  left:1159px;
  top:339px;
  width:334px;
  height:1px;
}
#u4342 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4343 {
  position:absolute;
  left:1160px;
  top:305px;
  width:79px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4344 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u4345 {
  position:absolute;
  left:1159px;
  top:389px;
  width:334px;
  height:1px;
}
#u4346 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4347 {
  position:absolute;
  left:1160px;
  top:355px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4348 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4349 {
  position:absolute;
  left:1457px;
  top:355px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4350 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u4349_ann {
  position:absolute;
  left:1464px;
  top:351px;
  width:1px;
  height:1px;
}
#u4351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u4352 {
  position:absolute;
  left:1159px;
  top:438px;
  width:334px;
  height:1px;
}
#u4353 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4354 {
  position:absolute;
  left:1160px;
  top:404px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4355 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4356 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u4357 {
  position:absolute;
  left:1159px;
  top:487px;
  width:334px;
  height:1px;
}
#u4358 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4359 {
  position:absolute;
  left:1160px;
  top:453px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4360 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u4361 {
  position:absolute;
  left:1441px;
  top:453px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u4362 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4361_ann {
  position:absolute;
  left:1447px;
  top:449px;
  width:1px;
  height:1px;
}
#u4363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4364 {
  position:absolute;
  left:1397px;
  top:403px;
  width:74px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4365 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4366 {
  position:absolute;
  left:1397px;
  top:403px;
  width:37px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4367 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u4368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u4368 {
  position:absolute;
  left:1440px;
  top:405px;
  width:23px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
  text-align:center;
}
#u4369 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u4370 {
  position:absolute;
  left:1462px;
  top:262px;
  width:9px;
  height:6px;
}
#u4371 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u4372 {
  position:absolute;
  left:1462px;
  top:459px;
  width:9px;
  height:6px;
}
#u4373 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4374 {
  position:absolute;
  left:1187px;
  top:514px;
  width:43px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4375 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u4374_ann {
  position:absolute;
  left:1223px;
  top:510px;
  width:1px;
  height:1px;
}
#u4376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4376 {
  position:absolute;
  left:1256px;
  top:514px;
  width:184px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4377 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u4376_ann {
  position:absolute;
  left:1433px;
  top:510px;
  width:1px;
  height:1px;
}
#u4378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u4378 {
  position:absolute;
  left:1150px;
  top:597px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
  text-align:center;
}
#u4379 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u4380 {
  position:absolute;
  left:1159px;
  top:687px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u4381 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u4382 {
  position:absolute;
  left:1159px;
  top:722px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u4383 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u4384 {
  position:absolute;
  left:1159px;
  top:757px;
  width:61px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u4385 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u4386 {
  position:absolute;
  left:1159px;
  top:800px;
  width:25px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5692F0;
}
#u4387 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u4388 {
  position:absolute;
  left:1159px;
  top:789px;
  width:312px;
  height:1px;
}
#u4389 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u4390 {
  position:absolute;
  left:1458px;
  top:687px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u4391 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u4392 {
  position:absolute;
  left:1458px;
  top:722px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u4393 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u4394 {
  position:absolute;
  left:1458px;
  top:757px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u4395 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u4396 {
  position:absolute;
  left:1458px;
  top:800px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#1296DB;
}
#u4397 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u4398 {
  position:absolute;
  left:1366px;
  top:600px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u4399 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4400 {
  position:absolute;
  left:1348px;
  top:601px;
  width:14px;
  height:14px;
}
#u4401 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
}
#u4402 {
  position:absolute;
  left:1401px;
  top:689px;
  width:49px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u4403 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u4404 {
  position:absolute;
  left:1435px;
  top:724px;
  width:15px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u4405 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
}
#u4406 {
  position:absolute;
  left:1428px;
  top:759px;
  width:22px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u4407 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u4408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:14px;
}
#u4408 {
  position:absolute;
  left:1318px;
  top:802px;
  width:132px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1296DB;
  text-align:right;
}
#u4409 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u4410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4410 {
  position:absolute;
  left:1135px;
  top:861px;
  width:12px;
  height:12px;
}
#u4411 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:14px;
}
#u4412 {
  position:absolute;
  left:1154px;
  top:860px;
  width:245px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u4413 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u4414 {
  position:absolute;
  left:1341px;
  top:352px;
  width:110px;
  height:25px;
}
#u4414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#515151;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u4415 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4416 {
  position:absolute;
  left:1569px;
  top:306px;
  width:74px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4417 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4418 {
  position:absolute;
  left:1569px;
  top:306px;
  width:37px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4419 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u4420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u4420 {
  position:absolute;
  left:1618px;
  top:308px;
  width:12px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
  text-align:center;
}
#u4421 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u4422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u4422 {
  position:absolute;
  left:1428px;
  top:306px;
  width:13px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:center;
}
#u4423 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u4424 {
  position:absolute;
  left:1375px;
  top:306px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u4425 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u4426 {
  position:absolute;
  left:1518px;
  top:308px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u4427 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:343px;
}
#u4429 {
  position:absolute;
  left:-1px;
  top:1038px;
  width:1060px;
  height:343px;
}
#u4430 {
  position:absolute;
  left:2px;
  top:164px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:343px;
}
#u4431 {
  position:absolute;
  left:1015px;
  top:1038px;
  width:1005px;
  height:343px;
}
#u4432 {
  position:absolute;
  left:2px;
  top:164px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1960px;
  height:82px;
  background:inherit;
  background-color:rgba(18, 150, 219, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4433 {
  position:absolute;
  left:32px;
  top:1053px;
  width:1960px;
  height:82px;
}
#u4434 {
  position:absolute;
  left:2px;
  top:33px;
  width:1956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1960px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4435 {
  position:absolute;
  left:32px;
  top:1135px;
  width:1960px;
  height:82px;
}
#u4436 {
  position:absolute;
  left:2px;
  top:33px;
  width:1956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1960px;
  height:164px;
  background:inherit;
  background-color:rgba(102, 204, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4437 {
  position:absolute;
  left:32px;
  top:1217px;
  width:1960px;
  height:164px;
}
#u4438 {
  position:absolute;
  left:2px;
  top:74px;
  width:1956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:82px;
  background:inherit;
  background-color:rgba(18, 150, 219, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4439 {
  position:absolute;
  left:1992px;
  top:1053px;
  width:164px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4440 {
  position:absolute;
  left:2px;
  top:28px;
  width:160px;
  word-wrap:break-word;
}
#u4441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4441 {
  position:absolute;
  left:1992px;
  top:1135px;
  width:164px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4442 {
  position:absolute;
  left:2px;
  top:28px;
  width:160px;
  word-wrap:break-word;
}
#u4443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:164px;
  background:inherit;
  background-color:rgba(102, 204, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4443 {
  position:absolute;
  left:1992px;
  top:1217px;
  width:164px;
  height:164px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4444 {
  position:absolute;
  left:2px;
  top:70px;
  width:160px;
  word-wrap:break-word;
}
#u4445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:30px;
}
#u4445 {
  position:absolute;
  left:32px;
  top:1012px;
  width:485px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u4446 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  white-space:nowrap;
}
#u4447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:226px;
  background:inherit;
  background-color:rgba(102, 204, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u4447 {
  position:absolute;
  left:1992px;
  top:1381px;
  width:164px;
  height:226px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u4448 {
  position:absolute;
  left:2px;
  top:23px;
  width:160px;
  word-wrap:break-word;
}
#u4449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u4449 {
  position:absolute;
  left:1149px;
  top:749px;
  width:329px;
  height:30px;
}
#u4450 {
  position:absolute;
  left:2px;
  top:7px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u4451 {
  position:absolute;
  left:1518px;
  top:754px;
  width:209px;
  height:17px;
  font-size:12px;
  color:#FF6600;
}
#u4452 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u4453 {
  position:absolute;
  left:1343px;
  top:596px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4453_ann {
  position:absolute;
  left:1409px;
  top:592px;
  width:1px;
  height:1px;
}
#u4454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4454 {
  position:absolute;
  left:1663px;
  top:449px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4455 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u4456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u4456 {
  position:absolute;
  left:1551px;
  top:467px;
  width:126px;
  height:16px;
  font-size:11px;
  color:#AEAEAE;
  text-align:right;
}
#u4457 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u4458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u4458 {
  position:absolute;
  left:1453px;
  top:419px;
  width:118px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4459 {
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u4460 {
  position:absolute;
  left:1545px;
  top:507px;
  width:169px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u4461 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u4462 {
  position:absolute;
  left:1619px;
  top:453px;
  width:37px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u4463 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4464 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4465_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:366px;
  height:274px;
}
#u4465 {
  position:absolute;
  left:1133px;
  top:580px;
  width:360px;
  height:268px;
  color:#FFFFFF;
}
#u4466 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  word-wrap:break-word;
}
#u4467 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u4468 {
  position:absolute;
  left:1141px;
  top:580px;
  width:345px;
  height:1px;
}
#u4469 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4470 {
  position:absolute;
  left:1126px;
  top:573px;
  width:15px;
  height:15px;
}
#u4471 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4472 {
  position:absolute;
  left:1486px;
  top:573px;
  width:15px;
  height:15px;
}
#u4473 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4474 {
  position:absolute;
  left:1177px;
  top:857px;
  width:104px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4474_ann {
  position:absolute;
  left:1274px;
  top:853px;
  width:1px;
  height:1px;
}
#u4475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u4475 {
  position:absolute;
  left:1518px;
  top:651px;
  width:334px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u4476 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u4477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:30px;
}
#u4477 {
  position:absolute;
  left:1142px;
  top:300px;
  width:344px;
  height:30px;
}
#u4478 {
  position:absolute;
  left:2px;
  top:7px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u4479 {
  position:absolute;
  left:979px;
  top:294px;
  width:133px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u4480 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u4481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:270px;
}
#u4481 {
  position:absolute;
  left:324px;
  top:220px;
  width:447px;
  height:270px;
}
#u4482 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u4483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:163px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u4483 {
  position:absolute;
  left:1527px;
  top:43px;
  width:300px;
  height:163px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u4484 {
  position:absolute;
  left:12px;
  top:42px;
  width:276px;
  word-wrap:break-word;
}
#u4485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 5px 5px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px 5px 5px rgba(228, 228, 228, 1);
  box-shadow:0px 5px 5px rgba(228, 228, 228, 1);
  color:#FFFFFF;
}
#u4485 {
  position:absolute;
  left:1171px;
  top:207px;
  width:300px;
  height:39px;
  color:#FFFFFF;
}
#u4486 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u4487 {
  position:absolute;
  left:1471px;
  top:227px;
  width:0px;
  height:0px;
}
#u4487_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u4487_seg1 {
  position:absolute;
  left:24px;
  top:-105px;
  width:8px;
  height:109px;
}
#u4487_seg2 {
  position:absolute;
  left:24px;
  top:-105px;
  width:36px;
  height:8px;
}
#u4487_seg3 {
  position:absolute;
  left:52px;
  top:-102px;
  width:8px;
  height:5px;
}
#u4488 {
  position:absolute;
  left:-22px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u4489 {
  position:absolute;
  left:1552px;
  top:355px;
  width:154px;
  height:53px;
}
#u4490 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4491 {
  position:absolute;
  left:1663px;
  top:360px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4492 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u4493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u4493 {
  position:absolute;
  left:1551px;
  top:378px;
  width:126px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF3300;
  text-align:right;
}
#u4494 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u4495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:12px;
}
#u4495 {
  position:absolute;
  left:1604px;
  top:364px;
  width:52px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u4496 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u4497 {
  position:absolute;
  left:1487px;
  top:371px;
  width:67px;
  height:1px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u4498 {
  position:absolute;
  left:2px;
  top:-8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4499 {
  position:absolute;
  left:1131px;
  top:160px;
  width:26px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u4500 {
  position:absolute;
  left:1458px;
  top:652px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u4501 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
}
#u4502 {
  position:absolute;
  left:1414px;
  top:654px;
  width:36px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#3399FF;
  text-align:right;
}
#u4503 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u4504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u4504 {
  position:absolute;
  left:1439px;
  top:654px;
  width:11px;
  height:17px;
}
#u4505 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u4506 {
  position:absolute;
  left:1159px;
  top:652px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u4507 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4508 {
  position:absolute;
  left:1436px;
  top:601px;
  width:14px;
  height:14px;
}
#u4509 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u4510 {
  position:absolute;
  left:1455px;
  top:600px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u4511 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4512 {
  position:absolute;
  left:1430px;
  top:596px;
  width:53px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4512_ann {
  position:absolute;
  left:1476px;
  top:592px;
  width:1px;
  height:1px;
}
#u4513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u4514 {
  position:absolute;
  left:1356px;
  top:625px;
  width:127px;
  height:122px;
}
#u4515 {
  position:absolute;
  left:2px;
  top:53px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4516 {
  position:absolute;
  left:1356px;
  top:625px;
  width:127px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4517 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u4518 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u4519 {
  position:absolute;
  left:1395px;
  top:664px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u4520 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u4522 {
  position:absolute;
  left:1393px;
  top:689px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u4523 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u4524 {
  position:absolute;
  left:1375px;
  top:692px;
  width:13px;
  height:12px;
}
#u4525 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u4528 {
  position:absolute;
  left:1393px;
  top:716px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u4529 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4530 {
  position:absolute;
  left:1375px;
  top:719px;
  width:12px;
  height:12px;
}
#u4531 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u4532 {
  position:absolute;
  left:1375px;
  top:667px;
  width:13px;
  height:12px;
}
#u4533 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4532_ann {
  position:absolute;
  left:1381px;
  top:663px;
  width:1px;
  height:1px;
}
#u4534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
#u4534 {
  position:absolute;
  left:216px;
  top:228px;
  width:95px;
  height:1px;
}
#u4535 {
  position:absolute;
  left:2px;
  top:-8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
#u4536 {
  position:absolute;
  left:216px;
  top:247px;
  width:95px;
  height:1px;
}
#u4537 {
  position:absolute;
  left:2px;
  top:-8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
#u4538 {
  position:absolute;
  left:216px;
  top:446px;
  width:95px;
  height:1px;
}
#u4539 {
  position:absolute;
  left:2px;
  top:-8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u4540 {
  position:absolute;
  left:161px;
  top:218px;
  width:49px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u4541 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u4542 {
  position:absolute;
  left:161px;
  top:238px;
  width:49px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u4543 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
}
#u4544 {
  position:absolute;
  left:185px;
  top:438px;
  width:25px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u4545 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
