body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2155px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u4957 {
  position:absolute;
  left:1552px;
  top:444px;
  width:154px;
  height:53px;
}
#u4958 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:969px;
}
#u4960 {
  position:absolute;
  left:1508px;
  top:0px;
  width:1px;
  height:968px;
}
#u4961 {
  position:absolute;
  left:2px;
  top:476px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:973px;
}
#u4962 {
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:968px;
}
#u4963 {
  position:absolute;
  left:2px;
  top:476px;
  width:1504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4964 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:756px;
}
#u4965 {
  position:absolute;
  left:2px;
  top:370px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4966 {
  position:absolute;
  left:1117px;
  top:197px;
  width:391px;
  height:709px;
}
#u4967 {
  position:absolute;
  left:2px;
  top:346px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:614px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
}
#u4968 {
  position:absolute;
  left:1133px;
  top:234px;
  width:360px;
  height:614px;
}
#u4969 {
  position:absolute;
  left:2px;
  top:299px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:39px;
}
#u4970 {
  position:absolute;
  left:1376px;
  top:345px;
  width:112px;
  height:39px;
}
#u4971 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:48px;
  background:inherit;
  background-color:rgba(240, 243, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4972 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:48px;
}
#u4973 {
  position:absolute;
  left:2px;
  top:16px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u4974 {
  position:absolute;
  left:1289px;
  top:162px;
  width:49px;
  height:22px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u4975 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u4976 {
  position:absolute;
  left:1139px;
  top:166px;
  width:9px;
  height:15px;
}
#u4977 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u4979 {
  position:absolute;
  left:1159px;
  top:290px;
  width:334px;
  height:1px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4981 {
  position:absolute;
  left:1160px;
  top:256px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u4983 {
  position:absolute;
  left:1405px;
  top:256px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4983_ann {
  position:absolute;
  left:1447px;
  top:252px;
  width:1px;
  height:1px;
}
#u4985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u4986 {
  position:absolute;
  left:1159px;
  top:339px;
  width:334px;
  height:1px;
}
#u4987 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4988 {
  position:absolute;
  left:1160px;
  top:305px;
  width:79px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4989 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u4990 {
  position:absolute;
  left:1159px;
  top:389px;
  width:334px;
  height:1px;
}
#u4991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4992 {
  position:absolute;
  left:1160px;
  top:355px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4994 {
  position:absolute;
  left:1457px;
  top:355px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u4995 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u4994_ann {
  position:absolute;
  left:1464px;
  top:351px;
  width:1px;
  height:1px;
}
#u4996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u4997 {
  position:absolute;
  left:1159px;
  top:438px;
  width:334px;
  height:1px;
}
#u4998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u4999 {
  position:absolute;
  left:1160px;
  top:404px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u5000 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u5002 {
  position:absolute;
  left:1159px;
  top:487px;
  width:334px;
  height:1px;
}
#u5003 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5004 {
  position:absolute;
  left:1160px;
  top:453px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u5006 {
  position:absolute;
  left:1441px;
  top:453px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u5007 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5006_ann {
  position:absolute;
  left:1447px;
  top:449px;
  width:1px;
  height:1px;
}
#u5008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5009 {
  position:absolute;
  left:1397px;
  top:403px;
  width:74px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5010 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u5011 {
  position:absolute;
  left:1397px;
  top:403px;
  width:37px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u5012 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u5013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u5013 {
  position:absolute;
  left:1440px;
  top:405px;
  width:23px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
  text-align:center;
}
#u5014 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u5015 {
  position:absolute;
  left:1462px;
  top:262px;
  width:9px;
  height:6px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u5017 {
  position:absolute;
  left:1462px;
  top:459px;
  width:9px;
  height:6px;
}
#u5018 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5019 {
  position:absolute;
  left:1187px;
  top:514px;
  width:43px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5020 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u5019_ann {
  position:absolute;
  left:1223px;
  top:510px;
  width:1px;
  height:1px;
}
#u5021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5021 {
  position:absolute;
  left:1256px;
  top:514px;
  width:184px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5022 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u5021_ann {
  position:absolute;
  left:1433px;
  top:510px;
  width:1px;
  height:1px;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u5023 {
  position:absolute;
  left:1150px;
  top:597px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
  text-align:center;
}
#u5024 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5025 {
  position:absolute;
  left:1159px;
  top:687px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u5026 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5027 {
  position:absolute;
  left:1159px;
  top:722px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u5028 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u5029 {
  position:absolute;
  left:1159px;
  top:757px;
  width:61px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u5030 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5031 {
  position:absolute;
  left:1159px;
  top:800px;
  width:25px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5692F0;
}
#u5032 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u5033 {
  position:absolute;
  left:1159px;
  top:789px;
  width:312px;
  height:1px;
}
#u5034 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u5035 {
  position:absolute;
  left:1458px;
  top:687px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u5036 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u5037 {
  position:absolute;
  left:1458px;
  top:722px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u5038 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u5039 {
  position:absolute;
  left:1458px;
  top:757px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u5040 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u5041 {
  position:absolute;
  left:1458px;
  top:800px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#1296DB;
}
#u5042 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u5043 {
  position:absolute;
  left:1366px;
  top:600px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5045 {
  position:absolute;
  left:1348px;
  top:601px;
  width:14px;
  height:14px;
}
#u5046 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
}
#u5047 {
  position:absolute;
  left:1401px;
  top:689px;
  width:49px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u5048 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u5049 {
  position:absolute;
  left:1435px;
  top:724px;
  width:15px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u5050 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
}
#u5051 {
  position:absolute;
  left:1428px;
  top:759px;
  width:22px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u5052 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:14px;
}
#u5053 {
  position:absolute;
  left:1318px;
  top:802px;
  width:132px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1296DB;
  text-align:right;
}
#u5054 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u5055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5055 {
  position:absolute;
  left:1135px;
  top:861px;
  width:12px;
  height:12px;
}
#u5056 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:14px;
}
#u5057 {
  position:absolute;
  left:1154px;
  top:860px;
  width:245px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u5058 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u5059 {
  position:absolute;
  left:1341px;
  top:352px;
  width:110px;
  height:25px;
}
#u5059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#515151;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u5060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5061 {
  position:absolute;
  left:1569px;
  top:306px;
  width:74px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5062 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u5063 {
  position:absolute;
  left:1569px;
  top:306px;
  width:37px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u5064 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u5065 {
  position:absolute;
  left:1618px;
  top:308px;
  width:12px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
  text-align:center;
}
#u5066 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u5067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u5067 {
  position:absolute;
  left:1428px;
  top:306px;
  width:13px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:center;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u5069 {
  position:absolute;
  left:1375px;
  top:306px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u5070 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u5071 {
  position:absolute;
  left:1518px;
  top:308px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u5072 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:343px;
}
#u5074 {
  position:absolute;
  left:-1px;
  top:1038px;
  width:1060px;
  height:343px;
}
#u5075 {
  position:absolute;
  left:2px;
  top:164px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:343px;
}
#u5076 {
  position:absolute;
  left:1015px;
  top:1038px;
  width:1005px;
  height:343px;
}
#u5077 {
  position:absolute;
  left:2px;
  top:164px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1960px;
  height:82px;
  background:inherit;
  background-color:rgba(18, 150, 219, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5078 {
  position:absolute;
  left:32px;
  top:1053px;
  width:1960px;
  height:82px;
}
#u5079 {
  position:absolute;
  left:2px;
  top:33px;
  width:1956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1960px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5080 {
  position:absolute;
  left:32px;
  top:1135px;
  width:1960px;
  height:82px;
}
#u5081 {
  position:absolute;
  left:2px;
  top:33px;
  width:1956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1960px;
  height:164px;
  background:inherit;
  background-color:rgba(102, 204, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5082 {
  position:absolute;
  left:32px;
  top:1217px;
  width:1960px;
  height:164px;
}
#u5083 {
  position:absolute;
  left:2px;
  top:74px;
  width:1956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:82px;
  background:inherit;
  background-color:rgba(18, 150, 219, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5084 {
  position:absolute;
  left:1992px;
  top:1053px;
  width:164px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5085 {
  position:absolute;
  left:2px;
  top:28px;
  width:160px;
  word-wrap:break-word;
}
#u5086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5086 {
  position:absolute;
  left:1992px;
  top:1135px;
  width:164px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5087 {
  position:absolute;
  left:2px;
  top:28px;
  width:160px;
  word-wrap:break-word;
}
#u5088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:164px;
  background:inherit;
  background-color:rgba(102, 204, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5088 {
  position:absolute;
  left:1992px;
  top:1217px;
  width:164px;
  height:164px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5089 {
  position:absolute;
  left:2px;
  top:70px;
  width:160px;
  word-wrap:break-word;
}
#u5090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:30px;
}
#u5090 {
  position:absolute;
  left:32px;
  top:1012px;
  width:485px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u5091 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  white-space:nowrap;
}
#u5092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:226px;
  background:inherit;
  background-color:rgba(102, 204, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u5092 {
  position:absolute;
  left:1992px;
  top:1381px;
  width:164px;
  height:226px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u5093 {
  position:absolute;
  left:2px;
  top:23px;
  width:160px;
  word-wrap:break-word;
}
#u5094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u5094 {
  position:absolute;
  left:1149px;
  top:749px;
  width:329px;
  height:30px;
}
#u5095 {
  position:absolute;
  left:2px;
  top:7px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u5096 {
  position:absolute;
  left:1518px;
  top:754px;
  width:209px;
  height:17px;
  font-size:12px;
  color:#FF6600;
}
#u5097 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u5098 {
  position:absolute;
  left:1343px;
  top:596px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5098_ann {
  position:absolute;
  left:1409px;
  top:592px;
  width:1px;
  height:1px;
}
#u5099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5099 {
  position:absolute;
  left:1663px;
  top:449px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u5100 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u5101 {
  position:absolute;
  left:1551px;
  top:467px;
  width:126px;
  height:16px;
  font-size:11px;
  color:#AEAEAE;
  text-align:right;
}
#u5102 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u5103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u5103 {
  position:absolute;
  left:1453px;
  top:419px;
  width:118px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u5104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u5105 {
  position:absolute;
  left:1545px;
  top:507px;
  width:169px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u5106 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u5107 {
  position:absolute;
  left:1619px;
  top:453px;
  width:37px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u5108 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5110_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:366px;
  height:274px;
}
#u5110 {
  position:absolute;
  left:1133px;
  top:580px;
  width:360px;
  height:268px;
  color:#FFFFFF;
}
#u5111 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  word-wrap:break-word;
}
#u5112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u5113 {
  position:absolute;
  left:1141px;
  top:580px;
  width:345px;
  height:1px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5115 {
  position:absolute;
  left:1126px;
  top:573px;
  width:15px;
  height:15px;
}
#u5116 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5117 {
  position:absolute;
  left:1486px;
  top:573px;
  width:15px;
  height:15px;
}
#u5118 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5119 {
  position:absolute;
  left:1177px;
  top:857px;
  width:104px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5119_ann {
  position:absolute;
  left:1274px;
  top:853px;
  width:1px;
  height:1px;
}
#u5120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u5120 {
  position:absolute;
  left:1518px;
  top:671px;
  width:334px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u5121 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u5122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:30px;
}
#u5122 {
  position:absolute;
  left:1142px;
  top:300px;
  width:344px;
  height:30px;
}
#u5123 {
  position:absolute;
  left:2px;
  top:7px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u5124 {
  position:absolute;
  left:979px;
  top:294px;
  width:133px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u5125 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u5126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:486px;
}
#u5126 {
  position:absolute;
  left:324px;
  top:220px;
  width:447px;
  height:486px;
}
#u5127 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u5128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u5128 {
  position:absolute;
  left:1552px;
  top:355px;
  width:154px;
  height:53px;
}
#u5129 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5130 {
  position:absolute;
  left:1663px;
  top:360px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u5131 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u5132 {
  position:absolute;
  left:1551px;
  top:378px;
  width:126px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF3300;
  text-align:right;
}
#u5133 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u5134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:12px;
}
#u5134 {
  position:absolute;
  left:1604px;
  top:364px;
  width:52px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u5135 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u5136 {
  position:absolute;
  left:1487px;
  top:371px;
  width:67px;
  height:1px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u5137 {
  position:absolute;
  left:2px;
  top:-8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5138 {
  position:absolute;
  left:1131px;
  top:160px;
  width:26px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u5139 {
  position:absolute;
  left:1458px;
  top:652px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u5140 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
}
#u5141 {
  position:absolute;
  left:1414px;
  top:654px;
  width:36px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#3399FF;
  text-align:right;
}
#u5142 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u5143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u5143 {
  position:absolute;
  left:1439px;
  top:654px;
  width:11px;
  height:17px;
}
#u5144 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5145 {
  position:absolute;
  left:1159px;
  top:652px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u5146 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5147 {
  position:absolute;
  left:1436px;
  top:601px;
  width:14px;
  height:14px;
}
#u5148 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u5149 {
  position:absolute;
  left:1455px;
  top:600px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u5150 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u5152 {
  position:absolute;
  left:1543px;
  top:534px;
  width:127px;
  height:122px;
}
#u5153 {
  position:absolute;
  left:2px;
  top:53px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5154 {
  position:absolute;
  left:1543px;
  top:534px;
  width:127px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5155 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u5156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5157 {
  position:absolute;
  left:1582px;
  top:573px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u5158 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5160 {
  position:absolute;
  left:1580px;
  top:600px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u5161 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u5162 {
  position:absolute;
  left:1562px;
  top:603px;
  width:13px;
  height:12px;
}
#u5163 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5166 {
  position:absolute;
  left:1580px;
  top:625px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u5167 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5168 {
  position:absolute;
  left:1562px;
  top:628px;
  width:12px;
  height:12px;
}
#u5169 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u5170 {
  position:absolute;
  left:1562px;
  top:576px;
  width:13px;
  height:12px;
}
#u5171 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5170_ann {
  position:absolute;
  left:1568px;
  top:572px;
  width:1px;
  height:1px;
}
#u5172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
#u5172 {
  position:absolute;
  left:216px;
  top:228px;
  width:95px;
  height:1px;
}
#u5173 {
  position:absolute;
  left:2px;
  top:-8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
#u5174 {
  position:absolute;
  left:216px;
  top:247px;
  width:95px;
  height:1px;
}
#u5175 {
  position:absolute;
  left:2px;
  top:-8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
#u5176 {
  position:absolute;
  left:216px;
  top:446px;
  width:95px;
  height:1px;
}
#u5177 {
  position:absolute;
  left:2px;
  top:-8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u5178 {
  position:absolute;
  left:161px;
  top:218px;
  width:49px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u5179 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u5180 {
  position:absolute;
  left:161px;
  top:238px;
  width:49px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u5181 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u5182 {
  position:absolute;
  left:161px;
  top:438px;
  width:49px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u5183 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5184 {
  position:absolute;
  left:1478px;
  top:608px;
  width:0px;
  height:0px;
}
#u5184_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u5184_seg1 {
  position:absolute;
  left:48px;
  top:-17px;
  width:8px;
  height:21px;
}
#u5184_seg2 {
  position:absolute;
  left:48px;
  top:-17px;
  width:17px;
  height:8px;
}
#u5185 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:26px;
}
#u5186 {
  position:absolute;
  left:324px;
  top:737px;
  width:343px;
  height:26px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3300;
}
#u5187 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
