body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:969px;
}
#u6849 {
  position:absolute;
  left:1508px;
  top:0px;
  width:1px;
  height:968px;
}
#u6850 {
  position:absolute;
  left:2px;
  top:476px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:973px;
}
#u6851 {
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:968px;
}
#u6852 {
  position:absolute;
  left:2px;
  top:476px;
  width:1504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6853 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:756px;
}
#u6854 {
  position:absolute;
  left:2px;
  top:370px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:48px;
  background:inherit;
  background-color:rgba(240, 243, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6855 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:48px;
}
#u6856 {
  position:absolute;
  left:2px;
  top:16px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u6857 {
  position:absolute;
  left:1285px;
  top:162px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u6858 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u6859 {
  position:absolute;
  left:1139px;
  top:166px;
  width:9px;
  height:15px;
}
#u6860 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6861 {
  position:absolute;
  left:1131px;
  top:160px;
  width:26px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6862 {
  position:absolute;
  left:1117px;
  top:197px;
  width:391px;
  height:709px;
}
#u6863 {
  position:absolute;
  left:2px;
  top:346px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:462px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
}
#u6864 {
  position:absolute;
  left:1133px;
  top:234px;
  width:360px;
  height:462px;
}
#u6865 {
  position:absolute;
  left:2px;
  top:223px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u6866 {
  position:absolute;
  left:1159px;
  top:311px;
  width:334px;
  height:1px;
}
#u6867 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u6868 {
  position:absolute;
  left:1159px;
  top:266px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u6869 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u6870 {
  position:absolute;
  left:1160px;
  top:465px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
  text-align:center;
}
#u6871 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6872 {
  position:absolute;
  left:1135px;
  top:710px;
  width:12px;
  height:12px;
}
#u6873 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:14px;
}
#u6874 {
  position:absolute;
  left:1154px;
  top:709px;
  width:191px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6875 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u6876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u6877 {
  position:absolute;
  left:1141px;
  top:438px;
  width:345px;
  height:1px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6879 {
  position:absolute;
  left:1126px;
  top:431px;
  width:15px;
  height:15px;
}
#u6880 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6881 {
  position:absolute;
  left:1486px;
  top:431px;
  width:15px;
  height:15px;
}
#u6882 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:21px;
}
#u6883 {
  position:absolute;
  left:1176px;
  top:563px;
  width:277px;
  height:21px;
  color:#3399FF;
  text-align:right;
}
#u6884 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
}
#u6885 {
  position:absolute;
  left:1160px;
  top:519px;
  width:111px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u6886 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u6887 {
  position:absolute;
  left:1159px;
  top:375px;
  width:334px;
  height:1px;
}
#u6888 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u6889 {
  position:absolute;
  left:1161px;
  top:334px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u6890 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
  text-align:left;
  line-height:22px;
}
#u6892 {
  position:absolute;
  left:884px;
  top:261px;
  width:101px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
  text-align:left;
  line-height:22px;
}
#u6893 {
  position:absolute;
  left:12px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u6892_ann {
  position:absolute;
  left:978px;
  top:257px;
  width:1px;
  height:1px;
}
#u6894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u6895 {
  position:absolute;
  left:961px;
  top:270px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6896 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  text-align:left;
  line-height:22px;
}
#u6898 {
  position:absolute;
  left:1000px;
  top:261px;
  width:123px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  text-align:left;
  line-height:22px;
}
#u6899 {
  position:absolute;
  left:12px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u6900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u6901 {
  position:absolute;
  left:1098px;
  top:270px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6902 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6B6B6B;
}
#u6903 {
  position:absolute;
  left:1161px;
  top:396px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6B6B6B;
}
#u6904 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
  text-align:right;
}
#u6905 {
  position:absolute;
  left:1450px;
  top:396px;
  width:22px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
  text-align:right;
}
#u6906 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u6907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6908 {
  position:absolute;
  left:1258px;
  top:358px;
}
#u6908_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6908_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6909 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:212px;
  font-size:12px;
}
#u6910 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:37px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:37px;
  font-size:12px;
}
#u6912 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6913 {
  position:absolute;
  left:1px;
  top:37px;
  width:215px;
  height:170px;
}
#u6914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6914 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6915 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u6916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6916 {
  position:absolute;
  left:30px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6917 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u6918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6918 {
  position:absolute;
  left:60px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6919 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u6920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6920 {
  position:absolute;
  left:90px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6921 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u6922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6922 {
  position:absolute;
  left:120px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6923 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u6924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6924 {
  position:absolute;
  left:150px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6925 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6926 {
  position:absolute;
  left:180px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6927 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u6928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6928 {
  position:absolute;
  left:0px;
  top:30px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u6928_img.mouseOver {
}
#u6928.mouseOver {
}
#u6929 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6930 {
  position:absolute;
  left:30px;
  top:30px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u6930_img.mouseOver {
}
#u6930.mouseOver {
}
#u6931 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6932 {
  position:absolute;
  left:60px;
  top:30px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u6932_img.mouseOver {
}
#u6932.mouseOver {
}
#u6933 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6934 {
  position:absolute;
  left:90px;
  top:30px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u6934_img.mouseOver {
}
#u6934.mouseOver {
}
#u6935 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6936 {
  position:absolute;
  left:120px;
  top:30px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6936_img.mouseOver {
}
#u6936.mouseOver {
}
#u6937 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6938 {
  position:absolute;
  left:150px;
  top:30px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6938_img.mouseOver {
}
#u6938.mouseOver {
}
#u6939 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6940 {
  position:absolute;
  left:180px;
  top:30px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6940_img.mouseOver {
}
#u6940.mouseOver {
}
#u6941 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6942 {
  position:absolute;
  left:0px;
  top:56px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6942_img.mouseOver {
}
#u6942.mouseOver {
}
#u6943 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6944 {
  position:absolute;
  left:30px;
  top:56px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6944_img.mouseOver {
}
#u6944.mouseOver {
}
#u6945 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6946 {
  position:absolute;
  left:60px;
  top:56px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6946_img.mouseOver {
}
#u6946.mouseOver {
}
#u6947 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6948 {
  position:absolute;
  left:90px;
  top:56px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6948_img.mouseOver {
}
#u6948.mouseOver {
}
#u6949 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6950 {
  position:absolute;
  left:120px;
  top:56px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6950_img.mouseOver {
}
#u6950.mouseOver {
}
#u6951 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6952 {
  position:absolute;
  left:150px;
  top:56px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u6953 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u6954 {
  position:absolute;
  left:180px;
  top:56px;
  width:30px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6954_img.mouseOver {
}
#u6954.mouseOver {
}
#u6955 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u6956 {
  position:absolute;
  left:0px;
  top:82px;
  width:30px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6956_img.mouseOver {
}
#u6956.mouseOver {
}
#u6957 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u6958 {
  position:absolute;
  left:30px;
  top:82px;
  width:30px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6958_img.mouseOver {
}
#u6958.mouseOver {
}
#u6959 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u6960 {
  position:absolute;
  left:60px;
  top:82px;
  width:30px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6960_img.mouseOver {
}
#u6960.mouseOver {
}
#u6961 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u6962 {
  position:absolute;
  left:90px;
  top:82px;
  width:30px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6962_img.mouseOver {
}
#u6962.mouseOver {
}
#u6963 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u6964 {
  position:absolute;
  left:120px;
  top:82px;
  width:30px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6964_img.mouseOver {
}
#u6964.mouseOver {
}
#u6965 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u6966 {
  position:absolute;
  left:150px;
  top:82px;
  width:30px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6966_img.mouseOver {
}
#u6966.mouseOver {
}
#u6967 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u6968 {
  position:absolute;
  left:180px;
  top:82px;
  width:30px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6968_img.mouseOver {
}
#u6968.mouseOver {
}
#u6969 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u6970 {
  position:absolute;
  left:0px;
  top:115px;
  width:30px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6970_img.mouseOver {
}
#u6970.mouseOver {
}
#u6971 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u6972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u6972 {
  position:absolute;
  left:30px;
  top:115px;
  width:30px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6972_img.mouseOver {
}
#u6972.mouseOver {
}
#u6973 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u6974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u6974 {
  position:absolute;
  left:60px;
  top:115px;
  width:30px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6974_img.mouseOver {
}
#u6974.mouseOver {
}
#u6975 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u6976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u6976 {
  position:absolute;
  left:90px;
  top:115px;
  width:30px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6976_img.mouseOver {
}
#u6976.mouseOver {
}
#u6977 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u6978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u6978 {
  position:absolute;
  left:120px;
  top:115px;
  width:30px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6978_img.mouseOver {
}
#u6978.mouseOver {
}
#u6979 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u6980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u6980 {
  position:absolute;
  left:150px;
  top:115px;
  width:30px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6980_img.mouseOver {
}
#u6980.mouseOver {
}
#u6981 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u6982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u6982 {
  position:absolute;
  left:180px;
  top:115px;
  width:30px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6982_img.mouseOver {
}
#u6982.mouseOver {
}
#u6983 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u6984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u6984 {
  position:absolute;
  left:0px;
  top:136px;
  width:30px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6984_img.mouseOver {
}
#u6984.mouseOver {
}
#u6985 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u6986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u6986 {
  position:absolute;
  left:30px;
  top:136px;
  width:30px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6986_img.mouseOver {
}
#u6986.mouseOver {
}
#u6987 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u6988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u6988 {
  position:absolute;
  left:60px;
  top:136px;
  width:30px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6988_img.mouseOver {
}
#u6988.mouseOver {
}
#u6989 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u6990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u6990 {
  position:absolute;
  left:90px;
  top:136px;
  width:30px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6990_img.mouseOver {
}
#u6990.mouseOver {
}
#u6991 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u6992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u6992 {
  position:absolute;
  left:120px;
  top:136px;
  width:30px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6992_img.mouseOver {
}
#u6992.mouseOver {
}
#u6993 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u6994 {
  position:absolute;
  left:150px;
  top:136px;
  width:30px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6994_img.mouseOver {
}
#u6994.mouseOver {
}
#u6995 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u6996 {
  position:absolute;
  left:180px;
  top:136px;
  width:30px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u6996_img.mouseOver {
}
#u6996.mouseOver {
}
#u6997 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u6998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
  text-align:center;
}
#u6998 {
  position:absolute;
  left:0px;
  top:206px;
  width:214px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
  text-align:center;
}
#u6999 {
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  word-wrap:break-word;
}
#u7000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:37px;
}
#u7000 {
  position:absolute;
  left:64px;
  top:0px;
  width:33px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7001 {
  position:absolute;
  left:2px;
  top:12px;
  width:29px;
  white-space:nowrap;
}
#u7002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:37px;
}
#u7002 {
  position:absolute;
  left:112px;
  top:0px;
  width:23px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7003 {
  position:absolute;
  left:2px;
  top:12px;
  width:19px;
  word-wrap:break-word;
}
#u7004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:37px;
}
#u7004 {
  position:absolute;
  left:94px;
  top:0px;
  width:18px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7005 {
  position:absolute;
  left:2px;
  top:10px;
  width:14px;
  word-wrap:break-word;
}
#u7006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:37px;
}
#u7006 {
  position:absolute;
  left:133px;
  top:0px;
  width:18px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7007 {
  position:absolute;
  left:2px;
  top:10px;
  width:14px;
  word-wrap:break-word;
}
#u7008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7008 {
  position:absolute;
  left:19px;
  top:14px;
  width:9px;
  height:9px;
  font-size:12px;
}
#u7008_img.mouseOver {
}
#u7008.mouseOver {
}
#u7009 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u7010 {
  position:absolute;
  left:39px;
  top:14px;
  width:6px;
  height:9px;
  font-size:12px;
}
#u7010_img.mouseOver {
}
#u7010.mouseOver {
}
#u7011 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7012 {
  position:absolute;
  left:188px;
  top:14px;
  width:9px;
  height:9px;
  font-size:12px;
}
#u7012_img.mouseOver {
}
#u7012.mouseOver {
}
#u7013 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u7014 {
  position:absolute;
  left:173px;
  top:14px;
  width:6px;
  height:9px;
  font-size:12px;
}
#u7014_img.mouseOver {
}
#u7014.mouseOver {
}
#u7015 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
}
#u7016 {
  position:absolute;
  left:1304px;
  top:329px;
  width:168px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
}
#u7016_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
}
#u7016.selected {
}
#u7017 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u7016_ann {
  position:absolute;
  left:1465px;
  top:325px;
  width:1px;
  height:1px;
}
#u7018 {
  position:absolute;
  left:1313px;
  top:334px;
  width:120px;
  height:20px;
}
#u7018_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u7019 {
  position:absolute;
  left:1160px;
  top:611px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u7020 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u7021 {
  position:absolute;
  left:1160px;
  top:645px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u7022 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u7023 {
  position:absolute;
  left:1436px;
  top:611px;
  width:33px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u7024 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u7025 {
  position:absolute;
  left:1436px;
  top:645px;
  width:33px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u7026 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u7027 {
  position:absolute;
  left:1151px;
  top:387px;
  width:74px;
  height:36px;
}
#u7028 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7029 {
  position:absolute;
  left:1151px;
  top:405px;
  width:0px;
  height:0px;
}
#u7029_seg0 {
  position:absolute;
  left:-15px;
  top:-4px;
  width:15px;
  height:8px;
}
#u7029_seg1 {
  position:absolute;
  left:-15px;
  top:-159px;
  width:8px;
  height:163px;
}
#u7029_seg2 {
  position:absolute;
  left:-285px;
  top:-159px;
  width:278px;
  height:8px;
}
#u7029_seg3 {
  position:absolute;
  left:-285px;
  top:-159px;
  width:8px;
  height:34px;
}
#u7029_seg4 {
  position:absolute;
  left:-285px;
  top:-133px;
  width:18px;
  height:8px;
}
#u7030 {
  position:absolute;
  left:-133px;
  top:-163px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  line-height:18px;
}
#u7031 {
  position:absolute;
  left:837px;
  top:315px;
  width:263px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  line-height:18px;
}
#u7032 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u7033 {
  position:absolute;
  left:1149px;
  top:512px;
  width:133px;
  height:32px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u7035 {
  position:absolute;
  left:928px;
  top:497px;
  width:211px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u7036 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u7037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u7037 {
  position:absolute;
  left:1417px;
  top:387px;
  width:69px;
  height:34px;
}
#u7038 {
  position:absolute;
  left:2px;
  top:9px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037_ann {
  position:absolute;
  left:1479px;
  top:383px;
  width:1px;
  height:1px;
}
#u7039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u7039 {
  position:absolute;
  left:1516px;
  top:395px;
  width:334px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u7040 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  white-space:nowrap;
}
#u7041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7042_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:366px;
  height:261px;
}
#u7042 {
  position:absolute;
  left:1133px;
  top:442px;
  width:360px;
  height:255px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u7043 {
  position:absolute;
  left:12px;
  top:28px;
  width:336px;
  word-wrap:break-word;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
  text-align:left;
  line-height:22px;
}
#u7045 {
  position:absolute;
  left:1304px;
  top:261px;
  width:168px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
  text-align:left;
  line-height:22px;
}
#u7046 {
  position:absolute;
  left:12px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u7047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u7048 {
  position:absolute;
  left:1447px;
  top:270px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7049 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
}
#u7050 {
  position:absolute;
  left:1536px;
  top:472px;
  width:360px;
  height:254px;
}
#u7051 {
  position:absolute;
  left:2px;
  top:119px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u7052 {
  position:absolute;
  left:1563px;
  top:498px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
  text-align:center;
}
#u7053 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
}
#u7054 {
  position:absolute;
  left:1667px;
  top:588px;
  width:129px;
  height:22px;
  font-size:16px;
  color:#FF6600;
  text-align:right;
}
#u7055 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u7056 {
  position:absolute;
  left:1563px;
  top:552px;
  width:124px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u7057 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u7058 {
  position:absolute;
  left:1563px;
  top:644px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u7059 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u7060 {
  position:absolute;
  left:1563px;
  top:678px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u7061 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u7062 {
  position:absolute;
  left:1675px;
  top:743px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u7063 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
  text-align:right;
}
#u7064 {
  position:absolute;
  left:1676px;
  top:678px;
  width:198px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
  text-align:right;
}
#u7065 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u7066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u7066 {
  position:absolute;
  left:1839px;
  top:644px;
  width:33px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u7067 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u7069 {
  position:absolute;
  left:1331px;
  top:471px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u7070 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7071 {
  position:absolute;
  left:1313px;
  top:472px;
  width:14px;
  height:14px;
}
#u7072 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7073 {
  position:absolute;
  left:1401px;
  top:472px;
  width:14px;
  height:14px;
}
#u7074 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u7075 {
  position:absolute;
  left:1420px;
  top:471px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u7076 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u7077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u7078 {
  position:absolute;
  left:1601px;
  top:219px;
  width:127px;
  height:99px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:42px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7080 {
  position:absolute;
  left:1601px;
  top:219px;
  width:127px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7081 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u7082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7083 {
  position:absolute;
  left:1640px;
  top:258px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u7084 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7086 {
  position:absolute;
  left:1638px;
  top:283px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u7087 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7088 {
  position:absolute;
  left:1620px;
  top:286px;
  width:12px;
  height:12px;
}
#u7089 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u7090 {
  position:absolute;
  left:1620px;
  top:261px;
  width:13px;
  height:12px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090_ann {
  position:absolute;
  left:1626px;
  top:257px;
  width:1px;
  height:1px;
}
#u7092 {
  position:absolute;
  left:1443px;
  top:479px;
  width:0px;
  height:0px;
}
#u7092_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u7092_seg1 {
  position:absolute;
  left:67px;
  top:-250px;
  width:8px;
  height:254px;
}
#u7092_seg2 {
  position:absolute;
  left:67px;
  top:-250px;
  width:91px;
  height:8px;
}
#u7093 {
  position:absolute;
  left:21px;
  top:-139px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u7094 {
  position:absolute;
  left:1760px;
  top:501px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u7095 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7096 {
  position:absolute;
  left:1742px;
  top:502px;
  width:14px;
  height:14px;
}
#u7097 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7098 {
  position:absolute;
  left:1830px;
  top:502px;
  width:14px;
  height:14px;
}
#u7099 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u7100 {
  position:absolute;
  left:1849px;
  top:501px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u7101 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u7102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:180px;
}
#u7102 {
  position:absolute;
  left:328px;
  top:247px;
  width:430px;
  height:180px;
  line-height:20px;
}
#u7103 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
