body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2553px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:969px;
}
#u7063 {
  position:absolute;
  left:1508px;
  top:0px;
  width:1px;
  height:968px;
}
#u7064 {
  position:absolute;
  left:2px;
  top:476px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:973px;
}
#u7065 {
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:968px;
}
#u7066 {
  position:absolute;
  left:2px;
  top:476px;
  width:1504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7067 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:756px;
}
#u7068 {
  position:absolute;
  left:2px;
  top:370px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:48px;
  background:inherit;
  background-color:rgba(240, 243, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7069 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:48px;
}
#u7070 {
  position:absolute;
  left:2px;
  top:16px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u7071 {
  position:absolute;
  left:1277px;
  top:162px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u7072 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u7073 {
  position:absolute;
  left:1139px;
  top:166px;
  width:9px;
  height:15px;
}
#u7074 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7075 {
  position:absolute;
  left:1131px;
  top:160px;
  width:26px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7076 {
  position:absolute;
  left:1117px;
  top:197px;
  width:391px;
  height:709px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:346px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
}
#u7078 {
  position:absolute;
  left:1133px;
  top:234px;
  width:360px;
  height:471px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:228px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u7080 {
  position:absolute;
  left:1159px;
  top:293px;
  width:334px;
  height:1px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u7082 {
  position:absolute;
  left:1160px;
  top:256px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u7083 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u7084 {
  position:absolute;
  left:1160px;
  top:605px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
  text-align:center;
}
#u7085 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7086 {
  position:absolute;
  left:1135px;
  top:718px;
  width:12px;
  height:12px;
}
#u7087 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:14px;
}
#u7088 {
  position:absolute;
  left:1154px;
  top:717px;
  width:250px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u7089 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u7090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u7091 {
  position:absolute;
  left:1141px;
  top:570px;
  width:345px;
  height:1px;
}
#u7092 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7093 {
  position:absolute;
  left:1126px;
  top:563px;
  width:15px;
  height:15px;
}
#u7094 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7095 {
  position:absolute;
  left:1486px;
  top:563px;
  width:15px;
  height:15px;
}
#u7096 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u7098 {
  position:absolute;
  left:1353px;
  top:251px;
  width:125px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u7099 {
  position:absolute;
  left:12px;
  top:2px;
  width:105px;
  word-wrap:break-word;
}
#u7100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u7101 {
  position:absolute;
  left:1453px;
  top:258px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7102 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u7103 {
  position:absolute;
  left:1162px;
  top:653px;
  width:61px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u7104 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u7105 {
  position:absolute;
  left:1160px;
  top:309px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u7106 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u7108 {
  position:absolute;
  left:1395px;
  top:306px;
  width:42px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u7109 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u7110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7110 {
  position:absolute;
  left:1353px;
  top:306px;
  width:42px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7111 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u7112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u7112 {
  position:absolute;
  left:1436px;
  top:306px;
  width:42px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u7113 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u7114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u7114 {
  position:absolute;
  left:1159px;
  top:342px;
  width:334px;
  height:1px;
}
#u7115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u7116 {
  position:absolute;
  left:1160px;
  top:361px;
  width:79px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u7117 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u7118 {
  position:absolute;
  left:1160px;
  top:452px;
  width:334px;
  height:1px;
}
#u7119 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(51, 153, 255, 0.8);
}
#u7121 {
  position:absolute;
  left:1357px;
  top:608px;
  width:95px;
  height:16px;
  font-size:11px;
  color:rgba(51, 153, 255, 0.8);
}
#u7122 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u7123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.6);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7124 {
  position:absolute;
  left:1458px;
  top:612px;
  width:20px;
  height:8px;
}
#u7125 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7126 {
  position:absolute;
  left:1466px;
  top:610px;
  width:12px;
  height:12px;
}
#u7127 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7128 {
  position:absolute;
  left:1469px;
  top:613px;
  width:6px;
  height:6px;
}
#u7129 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7131 {
  position:absolute;
  left:1394px;
  top:358px;
  width:42px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7132 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u7133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u7133 {
  position:absolute;
  left:1436px;
  top:358px;
  width:42px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u7134 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u7135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6B6B6B;
}
#u7135 {
  position:absolute;
  left:1160px;
  top:417px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6B6B6B;
}
#u7136 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u7137 {
  position:absolute;
  left:1159px;
  top:398px;
  width:334px;
  height:1px;
}
#u7138 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u7139 {
  position:absolute;
  left:1559px;
  top:505px;
  width:154px;
  height:53px;
}
#u7140 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:39px;
}
#u7141 {
  position:absolute;
  left:1306px;
  top:406px;
  width:189px;
  height:39px;
}
#u7142 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u7143 {
  position:absolute;
  left:1464px;
  top:416px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u7144 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u7143_ann {
  position:absolute;
  left:1471px;
  top:412px;
  width:1px;
  height:1px;
}
#u7145 {
  position:absolute;
  left:1348px;
  top:413px;
  width:110px;
  height:25px;
}
#u7145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#515151;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u7146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u7146 {
  position:absolute;
  left:1558px;
  top:528px;
  width:126px;
  height:16px;
  font-size:11px;
  color:#AEAEAE;
  text-align:right;
}
#u7147 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u7148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u7148 {
  position:absolute;
  left:1460px;
  top:480px;
  width:118px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u7149 {
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u7150 {
  position:absolute;
  left:1552px;
  top:568px;
  width:169px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u7151 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u7152 {
  position:absolute;
  left:1646px;
  top:514px;
  width:37px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u7153 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u7154 {
  position:absolute;
  left:1559px;
  top:416px;
  width:154px;
  height:53px;
}
#u7155 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u7156 {
  position:absolute;
  left:1558px;
  top:439px;
  width:126px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF3300;
  text-align:right;
}
#u7157 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u7158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:12px;
}
#u7158 {
  position:absolute;
  left:1631px;
  top:425px;
  width:52px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u7159 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u7160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u7160 {
  position:absolute;
  left:1494px;
  top:432px;
  width:67px;
  height:1px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u7161 {
  position:absolute;
  left:2px;
  top:-8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(148, 148, 148, 1);
  -webkit-box-shadow:0px 0px 3px rgba(148, 148, 148, 1);
  box-shadow:0px 0px 3px rgba(148, 148, 148, 1);
}
#u7162 {
  position:absolute;
  left:1776px;
  top:234px;
  width:360px;
  height:256px;
}
#u7163 {
  position:absolute;
  left:2px;
  top:120px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u7164 {
  position:absolute;
  left:1802px;
  top:293px;
  width:334px;
  height:1px;
}
#u7165 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u7166 {
  position:absolute;
  left:1803px;
  top:256px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u7167 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u7169 {
  position:absolute;
  left:1996px;
  top:251px;
  width:125px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u7170 {
  position:absolute;
  left:12px;
  top:2px;
  width:105px;
  word-wrap:break-word;
}
#u7169_ann {
  position:absolute;
  left:2114px;
  top:247px;
  width:1px;
  height:1px;
}
#u7171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u7172 {
  position:absolute;
  left:2096px;
  top:258px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7173 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u7174 {
  position:absolute;
  left:1803px;
  top:309px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u7175 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7177 {
  position:absolute;
  left:2038px;
  top:308px;
  width:42px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7178 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u7179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u7179 {
  position:absolute;
  left:1996px;
  top:308px;
  width:42px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u7180 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u7181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u7181 {
  position:absolute;
  left:2079px;
  top:308px;
  width:42px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u7182 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u7183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u7183 {
  position:absolute;
  left:1802px;
  top:342px;
  width:334px;
  height:1px;
}
#u7184 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u7185 {
  position:absolute;
  left:1803px;
  top:361px;
  width:79px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u7186 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7188 {
  position:absolute;
  left:2079px;
  top:359px;
  width:42px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7189 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u7190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u7190 {
  position:absolute;
  left:2037px;
  top:359px;
  width:42px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u7191 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u7192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7192 {
  position:absolute;
  left:1187px;
  top:493px;
  width:43px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7193 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u7192_ann {
  position:absolute;
  left:1223px;
  top:489px;
  width:1px;
  height:1px;
}
#u7194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7194 {
  position:absolute;
  left:1256px;
  top:493px;
  width:184px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7195 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u7194_ann {
  position:absolute;
  left:1433px;
  top:489px;
  width:1px;
  height:1px;
}
#u7196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:14px;
}
#u7196 {
  position:absolute;
  left:1154px;
  top:738px;
  width:215px;
  height:14px;
  font-size:10px;
}
#u7197 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u7198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7198 {
  position:absolute;
  left:1135px;
  top:739px;
  width:12px;
  height:12px;
}
#u7199 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
}
#u7200 {
  position:absolute;
  left:1374px;
  top:653px;
  width:103px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u7201 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(161, 161, 161, 1);
  -webkit-box-shadow:0px 0px 3px rgba(161, 161, 161, 1);
  box-shadow:0px 0px 3px rgba(161, 161, 161, 1);
}
#u7202 {
  position:absolute;
  left:1776px;
  top:521px;
  width:360px;
  height:198px;
}
#u7203 {
  position:absolute;
  left:2px;
  top:91px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u7204 {
  position:absolute;
  left:1803px;
  top:541px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
  text-align:center;
}
#u7205 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(51, 153, 255, 0.8);
}
#u7207 {
  position:absolute;
  left:2000px;
  top:544px;
  width:95px;
  height:16px;
  font-size:11px;
  color:rgba(51, 153, 255, 0.8);
}
#u7208 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u7209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7210 {
  position:absolute;
  left:2103px;
  top:548px;
  width:20px;
  height:8px;
}
#u7211 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7212 {
  position:absolute;
  left:2101px;
  top:546px;
  width:12px;
  height:12px;
}
#u7213 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7214 {
  position:absolute;
  left:2104px;
  top:549px;
  width:6px;
  height:6px;
}
#u7215 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7217 {
  position:absolute;
  left:1803px;
  top:589px;
  width:49px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u7218 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u7219 {
  position:absolute;
  left:2024px;
  top:589px;
  width:96px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u7220 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u7221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u7222 {
  position:absolute;
  left:1803px;
  top:628px;
  width:73px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u7223 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u7224 {
  position:absolute;
  left:2024px;
  top:628px;
  width:96px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u7225 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u7226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7227 {
  position:absolute;
  left:1803px;
  top:670px;
  width:49px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u7228 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u7229 {
  position:absolute;
  left:2024px;
  top:670px;
  width:96px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u7230 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u7231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u7231 {
  position:absolute;
  left:2043px;
  top:265px;
  width:37px;
  height:33px;
}
#u7232 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u7234 {
  position:absolute;
  left:2200px;
  top:256px;
  width:125px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u7235 {
  position:absolute;
  left:12px;
  top:34px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.8);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7236 {
  position:absolute;
  left:2201px;
  top:257px;
  width:123px;
  height:28px;
}
#u7237 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
  text-align:left;
  line-height:22px;
}
#u7239 {
  position:absolute;
  left:2207px;
  top:261px;
  width:105px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
  text-align:left;
  line-height:22px;
}
#u7240 {
  position:absolute;
  left:12px;
  top:-2px;
  width:85px;
  word-wrap:break-word;
}
#u7241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7241 {
  position:absolute;
  left:2294px;
  top:265px;
  width:10px;
  height:10px;
}
#u7242 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u7243 {
  position:absolute;
  left:2211px;
  top:291px;
  width:34px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u7244 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u7245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7245 {
  position:absolute;
  left:2201px;
  top:312px;
  width:123px;
  height:28px;
}
#u7246 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u7247 {
  position:absolute;
  left:2212px;
  top:318px;
  width:34px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u7248 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u7249 {
  position:absolute;
  left:2062px;
  top:298px;
  width:0px;
  height:0px;
}
#u7249_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u7249_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:142px;
  height:8px;
}
#u7250 {
  position:absolute;
  left:19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7251 {
  position:absolute;
  left:1830px;
  top:431px;
  width:43px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7252 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u7251_ann {
  position:absolute;
  left:1866px;
  top:427px;
  width:1px;
  height:1px;
}
#u7253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7253 {
  position:absolute;
  left:1899px;
  top:431px;
  width:184px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7254 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u7255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u7255 {
  position:absolute;
  left:1802px;
  top:397px;
  width:334px;
  height:1px;
}
#u7256 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:216px;
}
#u7257 {
  position:absolute;
  left:2200px;
  top:366px;
  width:353px;
  height:216px;
  line-height:24px;
}
#u7258 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u7259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7259 {
  position:absolute;
  left:1129px;
  top:713px;
  width:302px;
  height:21px;
  opacity:0.2;
}
#u7260 {
  position:absolute;
  left:2px;
  top:2px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u7261 {
  position:absolute;
  left:1148px;
  top:804px;
  width:228px;
  height:34px;
  font-size:12px;
  color:#FF3300;
}
#u7262 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u7263 {
  position:absolute;
  left:1129px;
  top:724px;
  width:0px;
  height:0px;
}
#u7263_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u7263_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:105px;
}
#u7263_seg2 {
  position:absolute;
  left:-4px;
  top:93px;
  width:23px;
  height:8px;
}
#u7264 {
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7265 {
  position:absolute;
  left:1129px;
  top:735px;
  width:229px;
  height:21px;
  opacity:0.2;
}
#u7266 {
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7267 {
  position:absolute;
  left:1358px;
  top:746px;
  width:0px;
  height:0px;
}
#u7267_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u7267_seg1 {
  position:absolute;
  left:88px;
  top:-4px;
  width:8px;
  height:357px;
}
#u7267_seg2 {
  position:absolute;
  left:79px;
  top:345px;
  width:17px;
  height:8px;
}
#u7268 {
  position:absolute;
  left:42px;
  top:127px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u7269 {
  position:absolute;
  left:1209px;
  top:1069px;
  width:228px;
  height:51px;
  font-size:12px;
  color:#FF3300;
}
#u7270 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
