body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2553px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:969px;
}
#u2701 {
  position:absolute;
  left:1508px;
  top:0px;
  width:1px;
  height:968px;
}
#u2702 {
  position:absolute;
  left:2px;
  top:476px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:973px;
}
#u2703 {
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:968px;
}
#u2704 {
  position:absolute;
  left:2px;
  top:476px;
  width:1504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2705 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:756px;
}
#u2706 {
  position:absolute;
  left:2px;
  top:370px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:48px;
  background:inherit;
  background-color:rgba(240, 243, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2707 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:48px;
}
#u2708 {
  position:absolute;
  left:2px;
  top:16px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u2709 {
  position:absolute;
  left:1277px;
  top:162px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u2710 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2711 {
  position:absolute;
  left:1139px;
  top:166px;
  width:9px;
  height:15px;
}
#u2712 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2713 {
  position:absolute;
  left:1131px;
  top:160px;
  width:26px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2714 {
  position:absolute;
  left:1117px;
  top:197px;
  width:391px;
  height:709px;
}
#u2715 {
  position:absolute;
  left:2px;
  top:346px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
}
#u2716 {
  position:absolute;
  left:1133px;
  top:234px;
  width:360px;
  height:471px;
}
#u2717 {
  position:absolute;
  left:2px;
  top:228px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u2718 {
  position:absolute;
  left:1159px;
  top:293px;
  width:334px;
  height:1px;
}
#u2719 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u2720 {
  position:absolute;
  left:1160px;
  top:256px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u2721 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u2722 {
  position:absolute;
  left:1160px;
  top:605px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
  text-align:center;
}
#u2723 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2724 {
  position:absolute;
  left:1135px;
  top:718px;
  width:12px;
  height:12px;
}
#u2725 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:14px;
}
#u2726 {
  position:absolute;
  left:1154px;
  top:717px;
  width:250px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2727 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u2728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u2729 {
  position:absolute;
  left:1141px;
  top:570px;
  width:345px;
  height:1px;
}
#u2730 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2731 {
  position:absolute;
  left:1126px;
  top:563px;
  width:15px;
  height:15px;
}
#u2732 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2733 {
  position:absolute;
  left:1486px;
  top:563px;
  width:15px;
  height:15px;
}
#u2734 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u2736 {
  position:absolute;
  left:1353px;
  top:251px;
  width:125px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u2737 {
  position:absolute;
  left:12px;
  top:2px;
  width:105px;
  word-wrap:break-word;
}
#u2738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2739 {
  position:absolute;
  left:1453px;
  top:258px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2740 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u2741 {
  position:absolute;
  left:1162px;
  top:653px;
  width:61px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u2742 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u2743 {
  position:absolute;
  left:1160px;
  top:309px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u2744 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u2746 {
  position:absolute;
  left:1395px;
  top:306px;
  width:42px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u2747 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u2748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2748 {
  position:absolute;
  left:1353px;
  top:306px;
  width:42px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2749 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u2750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u2750 {
  position:absolute;
  left:1436px;
  top:306px;
  width:42px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u2751 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u2752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u2752 {
  position:absolute;
  left:1159px;
  top:342px;
  width:334px;
  height:1px;
}
#u2753 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u2754 {
  position:absolute;
  left:1160px;
  top:361px;
  width:79px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u2755 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u2756 {
  position:absolute;
  left:1160px;
  top:452px;
  width:334px;
  height:1px;
}
#u2757 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(51, 153, 255, 0.8);
}
#u2759 {
  position:absolute;
  left:1357px;
  top:608px;
  width:95px;
  height:16px;
  font-size:11px;
  color:rgba(51, 153, 255, 0.8);
}
#u2760 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.6);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2762 {
  position:absolute;
  left:1458px;
  top:612px;
  width:20px;
  height:8px;
}
#u2763 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2764 {
  position:absolute;
  left:1466px;
  top:610px;
  width:12px;
  height:12px;
}
#u2765 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2766 {
  position:absolute;
  left:1469px;
  top:613px;
  width:6px;
  height:6px;
}
#u2767 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2768 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2769 {
  position:absolute;
  left:1394px;
  top:358px;
  width:42px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2770 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u2771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u2771 {
  position:absolute;
  left:1436px;
  top:358px;
  width:42px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u2772 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u2773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6B6B6B;
}
#u2773 {
  position:absolute;
  left:1160px;
  top:417px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6B6B6B;
}
#u2774 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u2775 {
  position:absolute;
  left:1159px;
  top:398px;
  width:334px;
  height:1px;
}
#u2776 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u2777 {
  position:absolute;
  left:1559px;
  top:505px;
  width:154px;
  height:53px;
}
#u2778 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:39px;
}
#u2779 {
  position:absolute;
  left:1306px;
  top:406px;
  width:189px;
  height:39px;
}
#u2780 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u2781 {
  position:absolute;
  left:1464px;
  top:416px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u2782 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u2781_ann {
  position:absolute;
  left:1471px;
  top:412px;
  width:1px;
  height:1px;
}
#u2783 {
  position:absolute;
  left:1348px;
  top:413px;
  width:110px;
  height:25px;
}
#u2783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#515151;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u2784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u2784 {
  position:absolute;
  left:1558px;
  top:528px;
  width:126px;
  height:16px;
  font-size:11px;
  color:#AEAEAE;
  text-align:right;
}
#u2785 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u2786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u2786 {
  position:absolute;
  left:1460px;
  top:480px;
  width:118px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2787 {
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u2788 {
  position:absolute;
  left:1552px;
  top:568px;
  width:169px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u2789 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u2790 {
  position:absolute;
  left:1646px;
  top:514px;
  width:37px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u2791 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u2792 {
  position:absolute;
  left:1559px;
  top:416px;
  width:154px;
  height:53px;
}
#u2793 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u2794 {
  position:absolute;
  left:1558px;
  top:439px;
  width:126px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF3300;
  text-align:right;
}
#u2795 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u2796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:12px;
}
#u2796 {
  position:absolute;
  left:1631px;
  top:425px;
  width:52px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u2797 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u2798 {
  position:absolute;
  left:1494px;
  top:432px;
  width:67px;
  height:1px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u2799 {
  position:absolute;
  left:2px;
  top:-8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(148, 148, 148, 1);
  -webkit-box-shadow:0px 0px 3px rgba(148, 148, 148, 1);
  box-shadow:0px 0px 3px rgba(148, 148, 148, 1);
}
#u2800 {
  position:absolute;
  left:1776px;
  top:234px;
  width:360px;
  height:256px;
}
#u2801 {
  position:absolute;
  left:2px;
  top:120px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u2802 {
  position:absolute;
  left:1802px;
  top:293px;
  width:334px;
  height:1px;
}
#u2803 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u2804 {
  position:absolute;
  left:1803px;
  top:256px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u2805 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u2807 {
  position:absolute;
  left:1996px;
  top:251px;
  width:125px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u2808 {
  position:absolute;
  left:12px;
  top:2px;
  width:105px;
  word-wrap:break-word;
}
#u2807_ann {
  position:absolute;
  left:2114px;
  top:247px;
  width:1px;
  height:1px;
}
#u2809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2810 {
  position:absolute;
  left:2096px;
  top:258px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2811 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u2812 {
  position:absolute;
  left:1803px;
  top:309px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u2813 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2814 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2815 {
  position:absolute;
  left:2038px;
  top:308px;
  width:42px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2816 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u2817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u2817 {
  position:absolute;
  left:1996px;
  top:308px;
  width:42px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#797979;
}
#u2818 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u2819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u2819 {
  position:absolute;
  left:2079px;
  top:308px;
  width:42px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u2820 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u2821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u2821 {
  position:absolute;
  left:1802px;
  top:342px;
  width:334px;
  height:1px;
}
#u2822 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u2823 {
  position:absolute;
  left:1803px;
  top:361px;
  width:79px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u2824 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2826 {
  position:absolute;
  left:2079px;
  top:359px;
  width:42px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2827 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u2828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u2828 {
  position:absolute;
  left:2037px;
  top:359px;
  width:42px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#868686;
}
#u2829 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u2830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2830 {
  position:absolute;
  left:1187px;
  top:493px;
  width:43px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2831 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u2830_ann {
  position:absolute;
  left:1223px;
  top:489px;
  width:1px;
  height:1px;
}
#u2832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2832 {
  position:absolute;
  left:1256px;
  top:493px;
  width:184px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2833 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u2832_ann {
  position:absolute;
  left:1433px;
  top:489px;
  width:1px;
  height:1px;
}
#u2834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:14px;
}
#u2834 {
  position:absolute;
  left:1154px;
  top:738px;
  width:215px;
  height:14px;
  font-size:10px;
  color:#797979;
}
#u2835 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u2836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2836 {
  position:absolute;
  left:1135px;
  top:739px;
  width:12px;
  height:12px;
}
#u2837 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
}
#u2838 {
  position:absolute;
  left:1374px;
  top:653px;
  width:103px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u2839 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(161, 161, 161, 1);
  -webkit-box-shadow:0px 0px 3px rgba(161, 161, 161, 1);
  box-shadow:0px 0px 3px rgba(161, 161, 161, 1);
}
#u2840 {
  position:absolute;
  left:1776px;
  top:521px;
  width:360px;
  height:198px;
}
#u2841 {
  position:absolute;
  left:2px;
  top:91px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u2842 {
  position:absolute;
  left:1803px;
  top:541px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
  text-align:center;
}
#u2843 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(51, 153, 255, 0.8);
}
#u2845 {
  position:absolute;
  left:2000px;
  top:544px;
  width:95px;
  height:16px;
  font-size:11px;
  color:rgba(51, 153, 255, 0.8);
}
#u2846 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2848 {
  position:absolute;
  left:2103px;
  top:548px;
  width:20px;
  height:8px;
}
#u2849 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2850 {
  position:absolute;
  left:2101px;
  top:546px;
  width:12px;
  height:12px;
}
#u2851 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2852 {
  position:absolute;
  left:2104px;
  top:549px;
  width:6px;
  height:6px;
}
#u2853 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2855 {
  position:absolute;
  left:1803px;
  top:589px;
  width:49px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u2856 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u2857 {
  position:absolute;
  left:2024px;
  top:589px;
  width:96px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u2858 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u2860 {
  position:absolute;
  left:1803px;
  top:628px;
  width:73px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u2861 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u2862 {
  position:absolute;
  left:2024px;
  top:628px;
  width:96px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u2863 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2865 {
  position:absolute;
  left:1803px;
  top:670px;
  width:49px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u2866 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u2867 {
  position:absolute;
  left:2024px;
  top:670px;
  width:96px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u2868 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u2869 {
  position:absolute;
  left:2043px;
  top:265px;
  width:37px;
  height:33px;
}
#u2870 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u2872 {
  position:absolute;
  left:2200px;
  top:256px;
  width:125px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
  line-height:22px;
}
#u2873 {
  position:absolute;
  left:12px;
  top:34px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2872_ann {
  position:absolute;
  left:2318px;
  top:252px;
  width:1px;
  height:1px;
}
#u2874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.8);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2874 {
  position:absolute;
  left:2201px;
  top:257px;
  width:123px;
  height:28px;
}
#u2875 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
  text-align:left;
  line-height:22px;
}
#u2877 {
  position:absolute;
  left:2207px;
  top:261px;
  width:105px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
  text-align:left;
  line-height:22px;
}
#u2878 {
  position:absolute;
  left:12px;
  top:-2px;
  width:85px;
  word-wrap:break-word;
}
#u2877_ann {
  position:absolute;
  left:2305px;
  top:257px;
  width:1px;
  height:1px;
}
#u2879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2879 {
  position:absolute;
  left:2294px;
  top:265px;
  width:10px;
  height:10px;
}
#u2880 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u2881 {
  position:absolute;
  left:2211px;
  top:291px;
  width:34px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u2882 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u2883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2883 {
  position:absolute;
  left:2201px;
  top:312px;
  width:123px;
  height:28px;
}
#u2884 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u2885 {
  position:absolute;
  left:2212px;
  top:318px;
  width:34px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u2886 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u2887 {
  position:absolute;
  left:2062px;
  top:298px;
  width:0px;
  height:0px;
}
#u2887_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u2887_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:142px;
  height:8px;
}
#u2888 {
  position:absolute;
  left:19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2889 {
  position:absolute;
  left:1830px;
  top:431px;
  width:43px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2890 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u2889_ann {
  position:absolute;
  left:1866px;
  top:427px;
  width:1px;
  height:1px;
}
#u2891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2891 {
  position:absolute;
  left:1899px;
  top:431px;
  width:184px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2892 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u2893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u2893 {
  position:absolute;
  left:1802px;
  top:397px;
  width:334px;
  height:1px;
}
#u2894 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:216px;
}
#u2895 {
  position:absolute;
  left:2200px;
  top:366px;
  width:353px;
  height:216px;
  line-height:24px;
}
#u2896 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
