body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2155px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u628 {
  position:absolute;
  left:1552px;
  top:444px;
  width:154px;
  height:53px;
}
#u629 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:969px;
}
#u631 {
  position:absolute;
  left:1508px;
  top:0px;
  width:1px;
  height:968px;
}
#u632 {
  position:absolute;
  left:2px;
  top:476px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:973px;
}
#u633 {
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:968px;
}
#u634 {
  position:absolute;
  left:2px;
  top:476px;
  width:1504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:756px;
}
#u636 {
  position:absolute;
  left:2px;
  top:370px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u637 {
  position:absolute;
  left:1117px;
  top:197px;
  width:391px;
  height:709px;
}
#u638 {
  position:absolute;
  left:2px;
  top:346px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:614px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
}
#u639 {
  position:absolute;
  left:1133px;
  top:234px;
  width:360px;
  height:614px;
}
#u640 {
  position:absolute;
  left:2px;
  top:299px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:39px;
}
#u641 {
  position:absolute;
  left:1376px;
  top:345px;
  width:112px;
  height:39px;
}
#u642 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:48px;
  background:inherit;
  background-color:rgba(240, 243, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:48px;
}
#u644 {
  position:absolute;
  left:2px;
  top:16px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u645 {
  position:absolute;
  left:1273px;
  top:162px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u647 {
  position:absolute;
  left:1139px;
  top:166px;
  width:9px;
  height:15px;
}
#u648 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u650 {
  position:absolute;
  left:1159px;
  top:290px;
  width:334px;
  height:1px;
}
#u651 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u652 {
  position:absolute;
  left:1160px;
  top:256px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u654 {
  position:absolute;
  left:1405px;
  top:256px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u654_ann {
  position:absolute;
  left:1447px;
  top:252px;
  width:1px;
  height:1px;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u657 {
  position:absolute;
  left:1159px;
  top:339px;
  width:334px;
  height:1px;
}
#u658 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u659 {
  position:absolute;
  left:1160px;
  top:305px;
  width:79px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u661 {
  position:absolute;
  left:1159px;
  top:389px;
  width:334px;
  height:1px;
}
#u662 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u663 {
  position:absolute;
  left:1160px;
  top:355px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u665 {
  position:absolute;
  left:1457px;
  top:355px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u665_ann {
  position:absolute;
  left:1464px;
  top:351px;
  width:1px;
  height:1px;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u668 {
  position:absolute;
  left:1159px;
  top:438px;
  width:334px;
  height:1px;
}
#u669 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u670 {
  position:absolute;
  left:1160px;
  top:404px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u673 {
  position:absolute;
  left:1159px;
  top:487px;
  width:334px;
  height:1px;
}
#u674 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u675 {
  position:absolute;
  left:1160px;
  top:453px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u677 {
  position:absolute;
  left:1294px;
  top:453px;
  width:160px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u677_ann {
  position:absolute;
  left:1447px;
  top:449px;
  width:1px;
  height:1px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u680 {
  position:absolute;
  left:1397px;
  top:403px;
  width:74px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u681 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u682 {
  position:absolute;
  left:1397px;
  top:403px;
  width:37px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u683 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u684 {
  position:absolute;
  left:1440px;
  top:405px;
  width:23px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
  text-align:center;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u686 {
  position:absolute;
  left:1462px;
  top:262px;
  width:9px;
  height:6px;
}
#u687 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u688 {
  position:absolute;
  left:1462px;
  top:459px;
  width:9px;
  height:6px;
}
#u689 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u690 {
  position:absolute;
  left:1187px;
  top:514px;
  width:43px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u691 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u690_ann {
  position:absolute;
  left:1223px;
  top:510px;
  width:1px;
  height:1px;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u692 {
  position:absolute;
  left:1256px;
  top:514px;
  width:184px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u693 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u692_ann {
  position:absolute;
  left:1433px;
  top:510px;
  width:1px;
  height:1px;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u694 {
  position:absolute;
  left:1150px;
  top:597px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
  text-align:center;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u696 {
  position:absolute;
  left:1159px;
  top:687px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u698 {
  position:absolute;
  left:1159px;
  top:722px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u700 {
  position:absolute;
  left:1159px;
  top:757px;
  width:61px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u702 {
  position:absolute;
  left:1159px;
  top:800px;
  width:25px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5692F0;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u704 {
  position:absolute;
  left:1159px;
  top:789px;
  width:312px;
  height:1px;
}
#u705 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u706 {
  position:absolute;
  left:1458px;
  top:687px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u708 {
  position:absolute;
  left:1458px;
  top:722px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u710 {
  position:absolute;
  left:1458px;
  top:757px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u712 {
  position:absolute;
  left:1458px;
  top:800px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#1296DB;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u714 {
  position:absolute;
  left:1366px;
  top:600px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u716 {
  position:absolute;
  left:1348px;
  top:601px;
  width:14px;
  height:14px;
}
#u717 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:14px;
}
#u718 {
  position:absolute;
  left:1367px;
  top:689px;
  width:83px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u720 {
  position:absolute;
  left:1418px;
  top:724px;
  width:32px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
}
#u722 {
  position:absolute;
  left:1411px;
  top:759px;
  width:39px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:14px;
}
#u724 {
  position:absolute;
  left:1312px;
  top:802px;
  width:138px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1296DB;
  text-align:right;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u726 {
  position:absolute;
  left:1135px;
  top:861px;
  width:12px;
  height:12px;
}
#u727 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:14px;
}
#u728 {
  position:absolute;
  left:1154px;
  top:860px;
  width:245px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u730 {
  position:absolute;
  left:1341px;
  top:352px;
  width:110px;
  height:25px;
}
#u730_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#515151;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u732 {
  position:absolute;
  left:1569px;
  top:306px;
  width:74px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u733 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u734 {
  position:absolute;
  left:1569px;
  top:306px;
  width:37px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u735 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u736 {
  position:absolute;
  left:1618px;
  top:308px;
  width:12px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
  text-align:center;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u738 {
  position:absolute;
  left:1428px;
  top:306px;
  width:13px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
  text-align:center;
}
#u739 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u740 {
  position:absolute;
  left:1375px;
  top:306px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u742 {
  position:absolute;
  left:1518px;
  top:308px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:343px;
}
#u745 {
  position:absolute;
  left:-1px;
  top:1038px;
  width:1060px;
  height:343px;
}
#u746 {
  position:absolute;
  left:2px;
  top:164px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:343px;
}
#u747 {
  position:absolute;
  left:1015px;
  top:1038px;
  width:1005px;
  height:343px;
}
#u748 {
  position:absolute;
  left:2px;
  top:164px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1960px;
  height:82px;
  background:inherit;
  background-color:rgba(18, 150, 219, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u749 {
  position:absolute;
  left:32px;
  top:1053px;
  width:1960px;
  height:82px;
}
#u750 {
  position:absolute;
  left:2px;
  top:33px;
  width:1956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1960px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u751 {
  position:absolute;
  left:32px;
  top:1135px;
  width:1960px;
  height:82px;
}
#u752 {
  position:absolute;
  left:2px;
  top:33px;
  width:1956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1960px;
  height:164px;
  background:inherit;
  background-color:rgba(102, 204, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u753 {
  position:absolute;
  left:32px;
  top:1217px;
  width:1960px;
  height:164px;
}
#u754 {
  position:absolute;
  left:2px;
  top:74px;
  width:1956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:82px;
  background:inherit;
  background-color:rgba(18, 150, 219, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u755 {
  position:absolute;
  left:1992px;
  top:1053px;
  width:164px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u756 {
  position:absolute;
  left:2px;
  top:28px;
  width:160px;
  word-wrap:break-word;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u757 {
  position:absolute;
  left:1992px;
  top:1135px;
  width:164px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u758 {
  position:absolute;
  left:2px;
  top:28px;
  width:160px;
  word-wrap:break-word;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:164px;
  background:inherit;
  background-color:rgba(102, 204, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u759 {
  position:absolute;
  left:1992px;
  top:1217px;
  width:164px;
  height:164px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u760 {
  position:absolute;
  left:2px;
  top:70px;
  width:160px;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:30px;
}
#u761 {
  position:absolute;
  left:32px;
  top:1012px;
  width:485px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u762 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  white-space:nowrap;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:226px;
  background:inherit;
  background-color:rgba(102, 204, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u763 {
  position:absolute;
  left:1992px;
  top:1381px;
  width:164px;
  height:226px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u764 {
  position:absolute;
  left:2px;
  top:23px;
  width:160px;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:30px;
}
#u765 {
  position:absolute;
  left:1150px;
  top:750px;
  width:329px;
  height:30px;
}
#u766 {
  position:absolute;
  left:2px;
  top:7px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u767 {
  position:absolute;
  left:1518px;
  top:754px;
  width:209px;
  height:17px;
  font-size:12px;
  color:#FF6600;
}
#u768 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u769 {
  position:absolute;
  left:1343px;
  top:596px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u769_ann {
  position:absolute;
  left:1409px;
  top:592px;
  width:1px;
  height:1px;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u770 {
  position:absolute;
  left:1663px;
  top:449px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u771 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u772 {
  position:absolute;
  left:1551px;
  top:467px;
  width:126px;
  height:16px;
  font-size:11px;
  color:#AEAEAE;
  text-align:right;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u774 {
  position:absolute;
  left:1453px;
  top:419px;
  width:118px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u775 {
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u776 {
  position:absolute;
  left:1545px;
  top:507px;
  width:169px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u777 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u778 {
  position:absolute;
  left:1619px;
  top:453px;
  width:37px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u779 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u781_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:366px;
  height:274px;
}
#u781 {
  position:absolute;
  left:1133px;
  top:580px;
  width:360px;
  height:268px;
  color:#FFFFFF;
}
#u782 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  word-wrap:break-word;
}
#u783 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u784 {
  position:absolute;
  left:1141px;
  top:580px;
  width:345px;
  height:1px;
}
#u785 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u786 {
  position:absolute;
  left:1126px;
  top:573px;
  width:15px;
  height:15px;
}
#u787 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u788 {
  position:absolute;
  left:1486px;
  top:573px;
  width:15px;
  height:15px;
}
#u789 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790 {
  position:absolute;
  left:1177px;
  top:857px;
  width:104px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u790_ann {
  position:absolute;
  left:1274px;
  top:853px;
  width:1px;
  height:1px;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u791 {
  position:absolute;
  left:1518px;
  top:651px;
  width:334px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u792 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:30px;
}
#u793 {
  position:absolute;
  left:1142px;
  top:300px;
  width:344px;
  height:30px;
}
#u794 {
  position:absolute;
  left:2px;
  top:7px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u795 {
  position:absolute;
  left:979px;
  top:294px;
  width:133px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:79px;
}
#u797 {
  position:absolute;
  left:1150px;
  top:640px;
  width:329px;
  height:79px;
}
#u798 {
  position:absolute;
  left:2px;
  top:32px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u799 {
  position:absolute;
  left:1175px;
  top:673px;
  width:303px;
  height:46px;
  opacity:0.85;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u800 {
  position:absolute;
  left:10px;
  top:9px;
  width:291px;
  word-wrap:break-word;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:270px;
}
#u801 {
  position:absolute;
  left:324px;
  top:220px;
  width:447px;
  height:270px;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:163px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u803 {
  position:absolute;
  left:1527px;
  top:43px;
  width:300px;
  height:163px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u804 {
  position:absolute;
  left:12px;
  top:42px;
  width:276px;
  word-wrap:break-word;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 5px 5px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px 5px 5px rgba(228, 228, 228, 1);
  box-shadow:0px 5px 5px rgba(228, 228, 228, 1);
  color:#FFFFFF;
}
#u805 {
  position:absolute;
  left:1171px;
  top:207px;
  width:300px;
  height:39px;
  color:#FFFFFF;
}
#u806 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u807 {
  position:absolute;
  left:1471px;
  top:227px;
  width:0px;
  height:0px;
}
#u807_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u807_seg1 {
  position:absolute;
  left:24px;
  top:-105px;
  width:8px;
  height:109px;
}
#u807_seg2 {
  position:absolute;
  left:24px;
  top:-105px;
  width:36px;
  height:8px;
}
#u807_seg3 {
  position:absolute;
  left:52px;
  top:-102px;
  width:8px;
  height:5px;
}
#u808 {
  position:absolute;
  left:-22px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u809 {
  position:absolute;
  left:1552px;
  top:355px;
  width:154px;
  height:53px;
}
#u810 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u811 {
  position:absolute;
  left:1663px;
  top:360px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u813 {
  position:absolute;
  left:1551px;
  top:378px;
  width:126px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF3300;
  text-align:right;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:12px;
}
#u815 {
  position:absolute;
  left:1604px;
  top:364px;
  width:52px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u817 {
  position:absolute;
  left:1487px;
  top:371px;
  width:67px;
  height:1px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819 {
  position:absolute;
  left:1131px;
  top:160px;
  width:26px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u820 {
  position:absolute;
  left:987px;
  top:652px;
  width:155px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u822 {
  position:absolute;
  left:1458px;
  top:652px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u824 {
  position:absolute;
  left:1394px;
  top:654px;
  width:56px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#3399FF;
  text-align:right;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u826 {
  position:absolute;
  left:1439px;
  top:654px;
  width:11px;
  height:17px;
}
#u827 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u828 {
  position:absolute;
  left:1159px;
  top:652px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u830 {
  position:absolute;
  left:1160px;
  top:655px;
  width:11px;
  height:17px;
}
#u831 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:203px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u832 {
  position:absolute;
  left:1159px;
  top:679px;
  width:312px;
  height:203px;
  opacity:0.85;
  font-size:9px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u833 {
  position:absolute;
  left:10px;
  top:14px;
  width:300px;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u834 {
  position:absolute;
  left:1436px;
  top:601px;
  width:14px;
  height:14px;
}
#u835 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u836 {
  position:absolute;
  left:1455px;
  top:600px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u838 {
  position:absolute;
  left:1430px;
  top:596px;
  width:53px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u840 {
  position:absolute;
  left:1354px;
  top:628px;
  width:127px;
  height:122px;
}
#u841 {
  position:absolute;
  left:2px;
  top:53px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u842 {
  position:absolute;
  left:1354px;
  top:628px;
  width:127px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u843 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u845 {
  position:absolute;
  left:1393px;
  top:667px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u848 {
  position:absolute;
  left:1391px;
  top:692px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u850 {
  position:absolute;
  left:1373px;
  top:695px;
  width:13px;
  height:12px;
}
#u851 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u854 {
  position:absolute;
  left:1391px;
  top:719px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u856 {
  position:absolute;
  left:1373px;
  top:722px;
  width:12px;
  height:12px;
}
#u857 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u858 {
  position:absolute;
  left:1373px;
  top:670px;
  width:13px;
  height:12px;
}
#u859 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_ann {
  position:absolute;
  left:1379px;
  top:666px;
  width:1px;
  height:1px;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
#u860 {
  position:absolute;
  left:216px;
  top:228px;
  width:95px;
  height:1px;
}
#u861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
#u862 {
  position:absolute;
  left:216px;
  top:247px;
  width:95px;
  height:1px;
}
#u863 {
  position:absolute;
  left:2px;
  top:-8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
#u864 {
  position:absolute;
  left:216px;
  top:446px;
  width:95px;
  height:1px;
}
#u865 {
  position:absolute;
  left:2px;
  top:-8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
}
#u866 {
  position:absolute;
  left:185px;
  top:219px;
  width:25px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u868 {
  position:absolute;
  left:161px;
  top:238px;
  width:49px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
}
#u870 {
  position:absolute;
  left:185px;
  top:438px;
  width:25px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
