body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1852px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:53px;
}
#u12063 {
  position:absolute;
  left:1552px;
  top:355px;
  width:154px;
  height:53px;
}
#u12064 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:969px;
}
#u12066 {
  position:absolute;
  left:1508px;
  top:0px;
  width:1px;
  height:968px;
}
#u12067 {
  position:absolute;
  left:2px;
  top:476px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:973px;
}
#u12068 {
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:968px;
}
#u12069 {
  position:absolute;
  left:2px;
  top:476px;
  width:1504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12070 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:756px;
}
#u12071 {
  position:absolute;
  left:2px;
  top:370px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12072 {
  position:absolute;
  left:1117px;
  top:197px;
  width:391px;
  height:709px;
}
#u12073 {
  position:absolute;
  left:2px;
  top:346px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
  box-shadow:0px 0px 3px rgba(228, 228, 228, 1);
}
#u12074 {
  position:absolute;
  left:1133px;
  top:234px;
  width:360px;
  height:336px;
}
#u12075 {
  position:absolute;
  left:2px;
  top:160px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:39px;
}
#u12076 {
  position:absolute;
  left:1376px;
  top:256px;
  width:112px;
  height:39px;
}
#u12077 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:48px;
  background:inherit;
  background-color:rgba(240, 243, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12078 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:48px;
}
#u12079 {
  position:absolute;
  left:2px;
  top:16px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u12080 {
  position:absolute;
  left:1292px;
  top:162px;
  width:49px;
  height:22px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u12081 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u12082 {
  position:absolute;
  left:1139px;
  top:166px;
  width:9px;
  height:15px;
}
#u12083 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u12084 {
  position:absolute;
  left:1159px;
  top:300px;
  width:334px;
  height:1px;
}
#u12085 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u12086 {
  position:absolute;
  left:1160px;
  top:266px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u12087 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u12088 {
  position:absolute;
  left:1457px;
  top:266px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u12089 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u12090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12090 {
  position:absolute;
  left:1187px;
  top:365px;
  width:43px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12091 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u12090_ann {
  position:absolute;
  left:1223px;
  top:361px;
  width:1px;
  height:1px;
}
#u12092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  -webkit-box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  box-shadow:1px 1px 1px rgba(228, 228, 228, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12092 {
  position:absolute;
  left:1256px;
  top:365px;
  width:184px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12093 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u12092_ann {
  position:absolute;
  left:1433px;
  top:361px;
  width:1px;
  height:1px;
}
#u12094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u12094 {
  position:absolute;
  left:1150px;
  top:461px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
  text-align:center;
}
#u12095 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u12096 {
  position:absolute;
  left:1366px;
  top:464px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u12097 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u12098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12098 {
  position:absolute;
  left:1348px;
  top:465px;
  width:14px;
  height:14px;
}
#u12099 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u12100 {
  position:absolute;
  left:1135px;
  top:583px;
  width:12px;
  height:12px;
}
#u12101 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:14px;
}
#u12102 {
  position:absolute;
  left:1154px;
  top:582px;
  width:247px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u12103 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u12104 {
  position:absolute;
  left:1341px;
  top:263px;
  width:110px;
  height:25px;
}
#u12104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#515151;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u12105 {
  position:absolute;
  left:1343px;
  top:460px;
  width:73px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12105_ann {
  position:absolute;
  left:1409px;
  top:456px;
  width:1px;
  height:1px;
}
#u12106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u12106 {
  position:absolute;
  left:1663px;
  top:360px;
  width:14px;
  height:18px;
  font-size:13px;
  color:#6B6B6B;
}
#u12107 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u12108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u12108 {
  position:absolute;
  left:1551px;
  top:378px;
  width:126px;
  height:16px;
  font-size:11px;
  color:#AEAEAE;
  text-align:right;
}
#u12109 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u12110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u12110 {
  position:absolute;
  left:1453px;
  top:330px;
  width:118px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u12111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u12112 {
  position:absolute;
  left:1545px;
  top:418px;
  width:169px;
  height:17px;
  font-size:12px;
  color:#FF3300;
}
#u12113 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u12114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u12114 {
  position:absolute;
  left:1619px;
  top:364px;
  width:37px;
  height:12px;
  font-size:11px;
  color:#515151;
  text-align:right;
}
#u12115 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12117_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:366px;
  height:274px;
}
#u12117 {
  position:absolute;
  left:1133px;
  top:580px;
  width:360px;
  height:268px;
  color:#FFFFFF;
}
#u12118 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  word-wrap:break-word;
}
#u12119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u12120 {
  position:absolute;
  left:1141px;
  top:444px;
  width:345px;
  height:1px;
}
#u12121 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12122 {
  position:absolute;
  left:1126px;
  top:437px;
  width:15px;
  height:15px;
}
#u12123 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12124 {
  position:absolute;
  left:1486px;
  top:437px;
  width:15px;
  height:15px;
}
#u12125 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u12126 {
  position:absolute;
  left:1518px;
  top:581px;
  width:334px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u12127 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u12128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:18px;
}
#u12128 {
  position:absolute;
  left:324px;
  top:220px;
  width:447px;
  height:18px;
}
#u12129 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u12130 {
  position:absolute;
  left:1131px;
  top:160px;
  width:26px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u12131 {
  position:absolute;
  left:1458px;
  top:516px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
}
#u12132 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u12133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
}
#u12133 {
  position:absolute;
  left:1385px;
  top:518px;
  width:65px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#3399FF;
  text-align:right;
}
#u12134 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u12135 {
  position:absolute;
  left:1439px;
  top:518px;
  width:11px;
  height:17px;
}
#u12136 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u12137 {
  position:absolute;
  left:1159px;
  top:516px;
  width:37px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u12138 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12139 {
  position:absolute;
  left:1436px;
  top:465px;
  width:14px;
  height:14px;
}
#u12140 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u12141 {
  position:absolute;
  left:1455px;
  top:464px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#1296DB;
}
#u12142 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u12143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u12144 {
  position:absolute;
  left:1543px;
  top:462px;
  width:127px;
  height:99px;
}
#u12145 {
  position:absolute;
  left:2px;
  top:42px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12146 {
  position:absolute;
  left:1543px;
  top:462px;
  width:127px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12147 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u12148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u12149 {
  position:absolute;
  left:1582px;
  top:501px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u12150 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u12151 {
  position:absolute;
  left:1562px;
  top:504px;
  width:13px;
  height:12px;
}
#u12152 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12151_ann {
  position:absolute;
  left:1568px;
  top:500px;
  width:1px;
  height:1px;
}
#u12153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
#u12153 {
  position:absolute;
  left:216px;
  top:228px;
  width:95px;
  height:1px;
}
#u12154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u12155 {
  position:absolute;
  left:161px;
  top:218px;
  width:49px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
}
#u12156 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12157 {
  position:absolute;
  left:1478px;
  top:472px;
  width:0px;
  height:0px;
}
#u12157_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u12157_seg1 {
  position:absolute;
  left:48px;
  top:-4px;
  width:8px;
  height:48px;
}
#u12157_seg2 {
  position:absolute;
  left:48px;
  top:36px;
  width:17px;
  height:8px;
}
#u12158 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:293px;
}
#u12159 {
  position:absolute;
  left:0px;
  top:989px;
  width:673px;
  height:293px;
}
#u12160 {
  position:absolute;
  left:2px;
  top:138px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
