body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1509px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:969px;
}
#u970 {
  position:absolute;
  left:1508px;
  top:0px;
  width:1px;
  height:968px;
}
#u971 {
  position:absolute;
  left:2px;
  top:476px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:973px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:968px;
}
#u973 {
  position:absolute;
  left:2px;
  top:476px;
  width:1504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:756px;
}
#u975 {
  position:absolute;
  left:2px;
  top:370px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:48px;
  background:inherit;
  background-color:rgba(240, 243, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u976 {
  position:absolute;
  left:1117px;
  top:149px;
  width:391px;
  height:48px;
}
#u977 {
  position:absolute;
  left:2px;
  top:16px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u978 {
  position:absolute;
  left:1285px;
  top:162px;
  width:49px;
  height:22px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u980 {
  position:absolute;
  left:1139px;
  top:166px;
  width:9px;
  height:15px;
}
#u981 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u983 {
  position:absolute;
  left:1117px;
  top:197px;
  width:391px;
  height:101px;
}
#u983_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:101px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u983.mouseOver {
}
#u984 {
  position:absolute;
  left:2px;
  top:42px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u985 {
  position:absolute;
  left:1167px;
  top:212px;
  width:49px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u987 {
  position:absolute;
  left:1138px;
  top:244px;
  width:67px;
  height:17px;
  font-size:12px;
  color:#A1A1A1;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u989 {
  position:absolute;
  left:1472px;
  top:241px;
  width:9px;
  height:14px;
}
#u990 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u991 {
  position:absolute;
  left:1138px;
  top:212px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u992 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u993 {
  position:absolute;
  left:1203px;
  top:245px;
  width:56px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u994 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u995 {
  position:absolute;
  left:1267px;
  top:245px;
  width:56px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u996 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u997 {
  position:absolute;
  left:1332px;
  top:245px;
  width:56px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u998 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u999 {
  position:absolute;
  left:1203px;
  top:266px;
  width:80px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1000 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:1117px;
  top:298px;
  width:391px;
  height:101px;
}
#u1002_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:101px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002.mouseOver {
}
#u1003 {
  position:absolute;
  left:2px;
  top:42px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u1004 {
  position:absolute;
  left:1167px;
  top:313px;
  width:65px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u1006 {
  position:absolute;
  left:1138px;
  top:345px;
  width:67px;
  height:17px;
  font-size:12px;
  color:#A1A1A1;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1008 {
  position:absolute;
  left:1472px;
  top:342px;
  width:9px;
  height:14px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1010 {
  position:absolute;
  left:1138px;
  top:313px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1011 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u1012 {
  position:absolute;
  left:1203px;
  top:346px;
  width:62px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1013 {
  position:absolute;
  left:2px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
}
#u1014 {
  position:absolute;
  left:1271px;
  top:346px;
  width:64px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1015 {
  position:absolute;
  left:2px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
}
#u1016 {
  position:absolute;
  left:1345px;
  top:346px;
  width:64px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1017 {
  position:absolute;
  left:2px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:15px;
}
#u1018 {
  position:absolute;
  left:1271px;
  top:366px;
  width:84px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1019 {
  position:absolute;
  left:2px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u1020 {
  position:absolute;
  left:1203px;
  top:366px;
  width:62px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1021 {
  position:absolute;
  left:2px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  position:absolute;
  left:1117px;
  top:399px;
  width:391px;
  height:101px;
}
#u1023_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:101px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023.mouseOver {
}
#u1024 {
  position:absolute;
  left:2px;
  top:42px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u1025 {
  position:absolute;
  left:1167px;
  top:414px;
  width:97px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u1027 {
  position:absolute;
  left:1138px;
  top:446px;
  width:67px;
  height:17px;
  font-size:12px;
  color:#A1A1A1;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1029 {
  position:absolute;
  left:1472px;
  top:443px;
  width:9px;
  height:14px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1031 {
  position:absolute;
  left:1138px;
  top:414px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1032 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
}
#u1033 {
  position:absolute;
  left:1203px;
  top:447px;
  width:68px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1034 {
  position:absolute;
  left:2px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u1035 {
  position:absolute;
  left:1280px;
  top:447px;
  width:43px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1036 {
  position:absolute;
  left:2px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
}
#u1037 {
  position:absolute;
  left:1333px;
  top:447px;
  width:98px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1038 {
  position:absolute;
  left:2px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1040 {
  position:absolute;
  left:1117px;
  top:500px;
  width:391px;
  height:101px;
}
#u1040_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:101px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1040.mouseOver {
}
#u1041 {
  position:absolute;
  left:2px;
  top:42px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u1042 {
  position:absolute;
  left:1167px;
  top:515px;
  width:49px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u1044 {
  position:absolute;
  left:1138px;
  top:547px;
  width:67px;
  height:17px;
  font-size:12px;
  color:#A1A1A1;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1046 {
  position:absolute;
  left:1472px;
  top:544px;
  width:9px;
  height:14px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1048 {
  position:absolute;
  left:1138px;
  top:515px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1049 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u1050 {
  position:absolute;
  left:1203px;
  top:548px;
  width:62px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1051 {
  position:absolute;
  left:2px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u1052 {
  position:absolute;
  left:1275px;
  top:548px;
  width:62px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1053 {
  position:absolute;
  left:2px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u1054 {
  position:absolute;
  left:1346px;
  top:548px;
  width:62px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1055 {
  position:absolute;
  left:2px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u1056 {
  position:absolute;
  left:1203px;
  top:568px;
  width:62px;
  height:15px;
  font-size:10px;
  color:#BCBCBC;
}
#u1057 {
  position:absolute;
  left:2px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
